<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign Up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/animate.min.css">
    <link rel="stylesheet" href="/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/css/vendor/icomoon.css">
    <link rel="stylesheet" href="/css/vendor/remixicon.css">
    <link rel="stylesheet" href="/css/vendor/spacing.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <!-- preloader start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="bd-preloader-content">
                    <div class="bd-preloader-logo">
                        <div class="bd-preloader-circle">
                            <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle stroke="#F5F5F5" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                </circle>
                                <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                </circle>
                            </svg>
                        </div>
                        <img src="/images/logo/preloader-icon.webp" alt="">
                    </div>
                    <p class="bd-preloader-subtitle">EkoAI</p>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- Body main wrapper start -->
    <main>

        <!-- sign form area start -->
        <section class="bd-authentication-cover-main ">
            <div class="row h100vh mx-0">
                <div class="col-xxl-6 col-xl-5 col-lg-12 d-xl-block d-none px-0">
                    <div class="bd-authentication-cover overflow-hidden" data-background="/../images/simple.jpg">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-7">
                    <div class="row justify-center align-center h100p">
                        <div class="col-xxl-6 col-xl-8 col-lg-6 col-md-6 col-sm-8 col-12">
                            <div class="bd-authentication-form-wrapper light-effect">
                                <div class="bd-authentication-form-logo">
                                    <a class="authentication-dark-logo" href="/">
                                        <img src="/images/logo/logo-white.svg" alt="image">
                                    </a>
                                    <a class="authentication-light-logo" href="/">
                                        <img src="/images/logo/logo-black.svg" alt="image">
                                    </a>
                                </div>
                                <h3 class="title mb-10">Sign Up</h3>
                                <form id="loginForm" action="Register" method="post" enctype="application/x-www-form-urlencoded">
                                    <div class="form-input-box mb-20">
                                        <div class="form-input-title">
                                            <label for="name">Full Name <span>*</span></label>
                                        </div>
                                        <div class="form-input">
                                            <input name="name" id="name" type="text" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="form-input-box mb-20">
                                        <div class="form-input-title">
                                            <label for="emailAddress">Email Address <span>*</span></label>
                                        </div>
                                        <div class="form-input">
                                            <input name="email" id="emailAddress" type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="form-input-box mb-20">
                                        <div class="form-input-title">
                                            <label for="password">Password <span>*</span></label>
                                        </div>
                                        <div class="form-input">
                                            <input name="password" id="password" type="password" placeholder="Your Password">
                                        </div>
                                    </div>
                                    <div class="bd-sign-btn">
                                        <button class="bd-btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                </form>
                                <div class="bd-sign-up-label underline-two text-center">
                                    Don't have an account?<a href="SignIn" class="sign-link"> Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- sign form area end -->

    </main>
    <!-- Body main wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/js/plugins/waypoints.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/swiper.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/vendor/magnific-popup.min.js"></script>
    <script src="/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/js/plugins/nice-select.min.js"></script>
    <script src="/js/vendor/ajax-form.js"></script>
    <script src="/js/plugins/easypie.js"></script>
    <script src="/js/vendor/purecounter.js"></script>
    <script src="/js/vendor/backtotop.js"></script>
    <script src="/js/plugins/prism.js"></script>
    <script src="/js/plugins/typed.js"></script>
    <script src="/js/main.js"></script>
    <script type="module" src="/js/forALL.js"></script>
</body>

</html>