<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign In</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <main>
        <section class="bd-authentication-cover-main ">
            <div class="row h100vh mx-0">
                <div class="col-xxl-6 col-xl-5 col-lg-12 d-xl-block d-none px-0">
                    <div class="bd-authentication-cover overflow-hidden" data-background="../images/contact/sign-in-bg.webp">
                        <div class="bd-authentication-cover-content d-flex-center d-none">
                            <div class="bd-section-title-wrapper">
                                <h2 class="bd-section-title mb-20">Welcome Back!</h2>
                                <p class="bd-section-paragraph">Sign in to continue your journey and unlock a world of
                                    opportunities.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-7">
                    <div class="row justify-center align-center h100p">
                        <div class="col-xxl-6 col-xl-8 col-lg-6 col-md-6 col-sm-8 col-12">
                            <div class="bd-authentication-form-wrapper light-effect">
                                <div class="bd-authentication-form-logo">
                                    <a class="authentication-dark-logo" href="/">
                                        <img src="../images/logo/logo-white.svg" alt="image">
                                    </a>
                                    <a class="authentication-light-logo" href="/">
                                        <img src="../images/logo/logo-black.svg" alt="image">
                                    </a>
                                </div>
                                <h3 class="title mb-10">Sign In</h3>
                                <p class="subtitle">Welcome back Wick</p>
                                <form action="#">
                                    <div class="form-input-box mb-20">
                                        <div class="form-input-title">
                                            <label for="emailAddress">Email Address <span>*</span></label>
                                        </div>
                                        <div class="form-input">
                                            <input name="email" id="emailAddress" type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="form-input-box mb-20">
                                        <div class="form-input-title">
                                            <label for="password">Password <span>*</span></label>
                                        </div>
                                        <div class="form-input">
                                            <input name="password" id="password" type="password" placeholder="Your Password">
                                        </div>
                                    </div>
                                    <div class="bd-sign-btn">
                                        <a class="bd-btn btn-primary w-100" href="dashboard.html">Sign In</a>
                                    </div>
                                </form>
                                <div class="bd-sign-up-label underline-two text-center">
                                    Don't have an account?<a href="SignUp" class="sign-link"> Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- sign form area end -->

    </main>
    <!-- Body main wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>