<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pricing Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<header>
    @await Html.PartialAsync("_Header")
</header>
    <!-- Header area end -->
    <!-- Offcanvas area start -->

    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="bd-breadcrumb-wrapper">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title mb-20">Pricing Details</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><i class="ri-home-4-line"></i> EkoAI</span>
                                    <span class="divider"><i class="ri-arrow-right-s-line"></i></span>
                                    <span class="active">Pricing Details</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-breadcrumb-shape">
                <img src="../images/shape/breadcrumb-shape.webp" alt="">
                <div class="bd-breadcrumb-glow"></div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- pricing-details area start -->
        <section class="bd-pricing-details-area section-gap">
            <div class="container">
                <div class="col-xxl-12 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="bd-plan-Compare-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="table-head" style="min-width: 311px;">Specifications</th>
                                    <th class="table-head" style="min-width: 198px;">Basic</th>
                                    <th class="table-head" style="min-width: 251px;">Pro</th>
                                    <th class="table-head featured" style="min-width: 271px;">Business</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Features & Plans</h6>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Custom Avatar Creation</td>
                                    <td>Included</td>
                                    <td>Included</td>
                                    <td>Included</td>
                                </tr>
                                <tr>
                                    <td>Instant Avatar Access</td>
                                    <td>Optional Add-On</td>
                                    <td>Optional Add-On</td>
                                    <td>Optional Add-On</td>
                                </tr>
                                <tr>
                                    <td>Subscription Cost</td>
                                    <td>No Charge</td>
                                    <td>$2 / Credit (Monthly)</td>
                                    <td>$3 / Credit (Monthly)</td>
                                </tr>
                                <tr>
                                    <td>Available Credit Options</td>
                                    <td>1 Credit</td>
                                    <td>15, 30, 60, 90, 120 / Month</td>
                                    <td>30, 60, 120, 180, 300 / Month</td>
                                </tr>
                                <tr>
                                    <td>Cancel Anytime</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Individual Cost Per Unit</td>
                                    <td>No Charge</td>
                                    <td>$2 / Credit (Monthly)</td>
                                    <td>$3 / Credit (Monthly)</td>
                                </tr>


                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Avatar Options</h6>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Free Avatars</td>
                                    <td>Included</td>
                                    <td>100+ Exclusive Avatars</td>
                                    <td>100+ Exclusive Avatars</td>
                                </tr>
                                <tr>
                                    <td>Custom Photo Avatar</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                </tr>
                                <tr>
                                    <td>Instant Avatar Customization</td>
                                    <td>Optional Add-On</td>
                                    <td>Optional Add-On</td>
                                    <td>Optional Add-On</td>
                                </tr>
                                <tr>
                                    <td>Studio-Grade Avatar</td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                </tr>


                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Key Features</h6>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Avatar Face Swap</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>Included</td>
                                    <td>Premium Feature</td>
                                </tr>
                                <tr>
                                    <td>Photo Avatar Creation</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>Included</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Text to Image</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>GPT-4 Script Writing</td>
                                    <td>Basic Version</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>Included</td>
                                </tr>
                                <tr>
                                    <td>AI Image Matting</td>
                                    <td>Limited</td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>URL to Video Conversion</td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                    <td>Included</td>
                                </tr>

                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Team Collaboration Features</h6>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Space Seats</td>
                                    <td>2 Seats</td>
                                    <td>3 Seats</td>
                                    <td>5 Seats</td>
                                </tr>
                                <tr>
                                    <td>Credit Control</td>
                                    <td>Not Included</td>
                                    <td>Not Included</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Role Control</td>
                                    <td>Unavailable</td>
                                    <td>Unavailable</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Usage Reports</td>
                                    <td>Not Included</td>
                                    <td>Not Included</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Brand Kit</td>
                                    <td>Unavailable</td>
                                    <td>Unavailable</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Access Control</td>
                                    <td>Unavailable</td>
                                    <td>Unavailable</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SSO (Single Sign-On)</td>
                                    <td>Not Supported</td>
                                    <td>Not Supported</td>
                                    <td>Not Supported</td>
                                </tr>

                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Video & Audio Creation</h6>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Audio Input</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Video Duration</td>
                                    <td>1-Min Max Duration</td>
                                    <td>5-Min Max Duration</td>
                                    <td>20-Min Max Duration</td>
                                </tr>
                                <tr>
                                    <td>Video Templates</td>
                                    <td>400+</td>
                                    <td>400+</td>
                                    <td>400+</td>
                                </tr>
                                <tr>
                                    <td>Stock Elements</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon" title="Available"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Audio Recording</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Import PPT/PDF</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Image/Video Background</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Background Music</td>
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon" title="Available"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stock Library</td>
                                    <td>
                                        <span class="icon false" title="Not Available"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon" title="Available"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Video Animation</td>
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon" title="Available"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1080P Export</td>
                                    <td>Not Available</td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>

                                <tr class="title-row">
                                    <td>
                                        <h6 class="title">Content Share</h6>
                                    </td>
                                    <td>Free</td>
                                    <td>Standard</td>
                                    <td>Premium</td>
                                </tr>
                                <tr>
                                    <td>Audio Input</td>
                                    <td>Not Included</td>
                                    <td>Not Included</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stock Elements</td>
                                    <td>Not Included</td>
                                    <td>Not Included</td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Audio Recording</td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>
                                <tr>
                                    <td>Import PPT/PDF</td>
                                    <td>Not Available</td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Image/Video Background</td>
                                    <td>Not Supported</td>
                                    <td>Not Supported</td>
                                    <td>
                                        <span class="icon"><i class="ri-check-fill"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Background Music</td>
                                    <td>
                                        <span class="icon false"><i class="ri-close-line"></i></span>
                                    </td>
                                    <td>Not Available</td>
                                    <td>Available</td>
                                </tr>


                                <tr class="submit-btn-row">
                                    <td>
                                        <h6>Action</h6>
                                    </td>
                                    <td>
                                        <a class="bd-btn btn-outline-primary w-100" href="#">Enjoy now</a>
                                    </td>
                                    <td>
                                        <a class="bd-btn btn-outline-primary w-100" href="/Subscription/Subscription">Get started</a>
                                    </td>
                                    <td>
                                        <a class="bd-btn btn-gradient w-100" href="/Subscription/Subscription">Get started</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-details area end -->
        <!-- cta area end -->
    </main>
    <!-- Body main wrapper end -->
<footer class="bd-footer-area">
    <div class="bd-footer-copyright-area pt-25 pb-20">
        <div class="container">
            <div class="row gy-30 align-center justify-content-lg-between justify-center">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                    <div class="bd-footer-copyright text-lg-start text-center">
                        <p class="underline">© Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                    <div class="bd-footer-copyright-list">
                        <ul class=" d-flex justify-content-lg-end justify-center">
                            <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                            <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script type="module" src="/js/forALL.js"></script>
    <script type="module" src="../js/pricing.js"></script>
<script type="module" src="/js/checkplan.js"></script>
</body>

</html>