<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Style Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<header>
    <div class="bd-header-area" id="header-sticky">
        <div class="bd-header-inner">
            <div class="bd-header-left">
                <div class="bd-header-logo">
                    <a class="bd-header-dark-logo" href="/">
                        <img src="../images/logo/logo-white.svg" alt="image">
                    </a>
                    <a class="bd-header-light-logo" href="/">
                        <img src="../images/logo/logo-black.svg" alt="image">
                    </a>
                </div>
            </div>
            <div class="bd-header-menu d-none d-xl-block">
                <nav class="main-menu bd-mobile-menu-active">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- page menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="submenu">
                                <li><a href="/Information/StyleGuide">Style Guide</a></li>
                                <li><a href="/Information/About">About Us</a></li>
                                <li><a href="/Information/Team">Team</a></li>
                                <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                                <li><a href="/Auth/SignIn">Sign In</a></li>
                                <li><a href="/Auth/SignUp">Sign Up</a></li>
                                <li><a href="/Information/ComingSoon">Coming Soon</a></li>
                                <li><a href="/Information/Maintenance">Maintenance</a></li>
                                <li><a href="/Information/Error">404</a></li>
                            </ul>
                        </li>

                        <!-- dashboard menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Dashboard</a>
                            <ul class="submenu">
                                <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                <li><a href="/Dashboard/Profile">Profile</a></li>
                                <li><a href="/Generators/Image">Image Generator</a></li>
                                <li><a href="/Generators/Video">Video Generator</a></li>
                                <li><a href="/Generators/Code">Code Generator</a></li>
                                <li><a href="/Generators/Text">Text Generator</a></li>
                                <li><a href="/Generators/Email">Email Generator</a></li>
                                <li><a href="/Generators/Website">Website Generator</a></li>
                                <li><a href="/Dashboard/Faq">FAq</a></li>
                            </ul>
                        </li>

                        <!-- blog menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Blog</a>
                            <ul class="submenu">
                                <li><a href="/Blog">Blog</a></li>
                                <li><a href="/Blog/BlogDetails">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="bd-header-right">
                <div class="bd-header-user">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="author">
                                <div class="author-thumb">
                                    <img src="../images/avatar/main-user.webp" alt="user">
                                </div>
                                <div class="verified-badge pos-badge">
                                    <i class="icon-check"></i>
                                </div>
                            </div>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="bd-user-info">
                                <div class="thumb"><img src="../images/avatar/main-user.webp" alt="user"></div>
                                <div class="meta">
                                    <h6 class="name">John Doe</h6>
                                </div>
                            </li>
                            <li class="bd-user-info-list"><a href="/Dashboard/Dashboard"><i class="ri-home-4-line"></i>Welcome</a>
                            </li>
                            <li class="bd-user-info-list"><a href="/Dashboard/Profile"><i class="ri-user-line"></i>Profile</a></li>
                            <li class="bd-user-info-list"><a href="/Auth/SignIn"><i
                                        class="ri-logout-circle-line"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bd-header-hamburger">
                    <div class="sidebar-toggle">
                        <a class="bar-icon" href="javascript:void(0)">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Header area end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="bd-offcanvas-area">
            <div class="bd-offcanvas-wrapper">
                <div class="bd-offcanvas-content">
                    <div class="bd-offcanvas-top d-flex justify-between align-center mb-30">
                        <div class="bd-offcanvas-logo">
                            <a class="bd-header-dark-logo" href="index.html">
                                <img src="../images/logo/logo-white.svg" alt="image">
                            </a>
                            <a class="bd-header-light-logo" href="index.html">
                                <img src="../images/logo/logo-black.svg" alt="image">
                            </a>
                        </div>
                        <div class="bd-offcanvas-close">
                            <button class="bd-offcanvas-close-icon animation--flip">
                                <span class="bd-offcanvas-m-lines">
                                <span class="bd-offcanvas-m-line line--1"></span><span
                                    class="bd-offcanvas-m-line line--2"></span><span
                                    class="bd-offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="bd-offcanvas-search mb-30">
                        <form action="#">
                            <input type="text" name="bd-offcanvasSearch" placeholder="Search Keyword">
                            <button type="submit"><i class="icon-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="bd-mobile-menu">
                        <div class="bd-offcanvas-menu mb-30">
                            <nav></nav>
                        </div>
                    </div>
                    <div class="bd-offcanvas-about mb-30">
                        <h4 class="bd-offcanvas-title-meta">About EkoAI</h4>
                        <p>EkoAI pioneers AI-driven solutions, empowering businesses with intelligent automation and
                            innovation.</p>
                    </div>
                    <div class="bd-offcanvas-contact mb-30">
                        <h4 class="bd-offcanvas-title-meta">Contact Info</h4>
                        <ul>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a target="_blank" href="#">
                                        <i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a target="_blank" href="#">123 Knowledge Lane, Learnville, 54321, USA</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="tel:+1234567890"><i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="tel:+1234567890">+1-234-567-890</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#1b72757d745b7e70747a7235787476"><i class="icon-envelope"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#c2abaca4ad82a7a9ada3abeca1adaf"><span class="__cf_email__" data-cfemail="650c0b030a25000e0a040c4b060a08">[email&#160;protected]</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="bd-offcanvas-btn-wrap mb-30">
                        <h4 class="bd-offcanvas-title-meta">Account</h4>
                        <div class="bd-offcanvas-btn d-flex align-center gap-10">
                            <a class="bd-btn btn-gradient btn-small" href="sign-in.html">Sing In</a>
                            <a class="bd-btn btn-secondary btn-small" href="sign-up.html">Sign Up</a>
                        </div>
                    </div>
                    <div class="bd-offcanvas-social">
                        <h4 class="bd-offcanvas-title-meta">Follow Us</h4>
                        <div class="theme-social has-white">
                            <ul class="social-icon-list">
                                <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd-offcanvas-overlay"></div>
    <div class="bd-offcanvas-overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="bd-breadcrumb-wrapper">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title mb-20">Style Guide</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a href="index.html"><i class="ri-home-4-line"></i> EkoAI</a></span>
                                    <span class="divider"><i class="ri-arrow-right-s-line"></i></span>
                                    <span class="active">Style Guide</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-breadcrumb-shape">
                <img src="../images/shape/breadcrumb-shape.webp" alt="">
                <div class="bd-breadcrumb-glow"></div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- style guide area start -->
        <section class="bd-style-guide-area section-gap">
            <div class="container">
                <div class="row gy-30 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xl-3 col-lg-3">
                        <div class="bd-style-widget-sidebar sidebar-sticky">
                            <nav class="onepagenav">
                                <ul>
                                    <li><a href="#colorPalette"><span>1. Color Palette</span></a></li>
                                    <li><a href="#typography"><span>2. Typography</span></a></li>
                                    <li><a href="#formElements"><span>3. Form Elements</span></a></li>
                                    <li><a href="#pagination"><span>4. Pagination</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="bd-style-guide-box">
                            <div id="information">
                                <div class="bd-style-guide-information section-gap-bottom">
                                    <ul class="bd-style-info-list">
                                        <li><strong>Item Name : </strong>EkoAI - AI Generator HTML Template</li>
                                        <li><strong>Version : </strong> 1.0.0</li>
                                        <li><strong>Author : </strong> <a href="https://themeforest.net/user/bdevs/portfolio" target="_blank">Bdevs</a></li>
                                        <li><strong>Support Tickets: </strong> <a href="https://support.bdevs.net/" target="_blank">https://support.bdevs.net</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="colorPalette">
                                <div class="bd-style-guide-color section-gap-bottom">
                                    <h5 class="bd-style-guide-title mb-20">Color Palette</h5>
                                    <div class="row gy-30">
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg theme-bg"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#7a44ff</span>
                                                    <h6 class="bd-style-color-title">Primary Color</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-secondary"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#D83DFF</span>
                                                    <h6 class="bd-style-color-title">Secondary Color</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-body-text"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#B7AECD</span>
                                                    <h6 class="bd-style-color-title">Body Text</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg primary-bg box-shadow"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#160b32</span>
                                                    <h6 class="bd-style-color-title">BG Primary</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg secondary-bg"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#191426</span>
                                                    <h6 class="bd-style-color-title">BG Secondary</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg theme-white"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#F8F5FF</span>
                                                    <h6 class="bd-style-color-title">White</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg theme-black"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#000000</span>
                                                    <h6 class="bd-style-color-title">Black</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-success"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#00db22</span>
                                                    <h6 class="bd-style-color-title">Success</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-info"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#0dcaf0</span>
                                                    <h6 class="bd-style-color-title">Info</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-warning"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#ffc107</span>
                                                    <h6 class="bd-style-color-title">Warning</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-teal"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#66b2b2</span>
                                                    <h6 class="bd-style-color-title">Teal</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-danger"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#f93a37</span>
                                                    <h6 class="bd-style-color-title">Danger</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-surface"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#323232</span>
                                                    <h6 class="bd-style-color-title">Surface BG</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-border-primary"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#2a1b4d</span>
                                                    <h6 class="bd-style-color-title">Border Primary</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-border-secondary"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#595564</span>
                                                    <h6 class="bd-style-color-title">Border Secondary</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-taxonomy"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#7A7575</span>
                                                    <h6 class="bd-style-color-title">Taxonomy</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-label"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#0A0A0A</span>
                                                    <h6 class="bd-style-color-title">Label</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-text-muted"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#6c757d</span>
                                                    <h6 class="bd-style-color-title">Text Muted</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-rating"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#FEC300</span>
                                                    <h6 class="bd-style-color-title">Rating</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-light"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#C8C8C8</span>
                                                    <h6 class="bd-style-color-title">Light</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg bg-placeholder"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code">#b4b4b4</span>
                                                    <h6 class="bd-style-color-title">Placeholder</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                            <div class="bd-style-color-box">
                                                <div class="bd-style-color-bg gradient-bg"></div>
                                                <div class="content mt-15">
                                                    <span class="bd-style-color-code"><code>gradient-bg</code></span>
                                                    <h6 class="bd-style-color-title">Gradient BG</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="typography">
                                <div class="bd-style-guide-typography section-gap-bottom">
                                    <h5 class="bd-style-guide-title mb-20">Typography</h5>
                                    <div class="bd-style-typography-font mb-30">
                                        <ul class="bd-style-typography-font-list">
                                            <li><span class="subtitle">Body and Title Font:</span> <span>Roboto</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="bd-style-typography-list">
                                        <li>
                                            <h1>H1. This is a Main Heading</h1>
                                        </li>
                                        <li>
                                            <h2>H2. Subheading for Sections</h2>
                                        </li>
                                        <li>
                                            <h3>H3. Supporting Heading</h3>
                                        </li>
                                        <li>
                                            <h4>H4. Informational Heading</h4>
                                        </li>
                                        <li>
                                            <h5>H5. Minor Heading</h5>
                                        </li>
                                        <li>
                                            <h6>H6. Smallest Heading</h6>
                                        </li>
                                        <li>
                                            <p>Body Text: Typography plays a crucial role in creating visually appealing
                                                and
                                                readable designs.</p>
                                        </li>
                                        <li>
                                            <p class="b4">B4- Secondary body text, slightly smaller font size than
                                                default.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="b3">B3- Body text used for captions or annotations.</p>
                                        </li>
                                        <li>
                                            <p class="b2">B2- Alternative text style for descriptions.</p>
                                        </li>
                                        <li>
                                            <p class="b1">B1- Smallest body text for fine details or footnotes.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="formElements">
                                <div class="bd-style-guide-form section-gap-bottom">
                                    <h5 class="bd-style-guide-title mb-20">Form Elements</h5>
                                    <div class="bd-style-form-input">
                                        <div class="row gy-30">
                                            <div class="col-lg-6">
                                                <div class="form-input-box">
                                                    <div class="form-input">
                                                        <input name="name" id="firstName" type="text" placeholder="First name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box">
                                                    <div class="form-input">
                                                        <input name="name" id="lastName" type="text" placeholder="Last name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box">
                                                    <div class="form-input-title">
                                                        <label for="firstName3">First name<span>*</span></label>
                                                    </div>
                                                    <div class="form-input">
                                                        <input name="name" id="firstName3" type="text" placeholder="First name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box">
                                                    <div class="form-input-title">
                                                        <label for="lastName2">Last name<span>*</span></label>
                                                    </div>
                                                    <div class="form-input">
                                                        <input name="name" id="lastName2" type="text" placeholder="Last name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="floating-form-input">
                                                    <input type="text" class="inputText" required="">
                                                    <span class="floating-label">Full Name</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="floating-form-input">
                                                    <input type="text" class="inputText" required="">
                                                    <span class="floating-label">Your Email</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box has-icon icon-right">
                                                    <div class="form-input">
                                                        <input name="name2" type="text" placeholder="Your Name">
                                                        <div class=""><span><i class="ri-user-line"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box has-icon icon-right">
                                                    <div class="form-input">
                                                        <input name="email2" type="text" placeholder="Your Email">
                                                        <div class=""><span><i class="ri-mail-line"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box has-icon icon-left">
                                                    <div class="form-input">
                                                        <input name="name2" type="text" placeholder="Your Name">
                                                        <div class=""><span><i class="ri-user-line"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-input-box has-icon icon-left">
                                                    <div class="form-input">
                                                        <input name="email2" type="text" placeholder="Your Email">
                                                        <div class=""><span><i class="ri-mail-line"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-input-box">
                                                    <div class="form-input">
                                                        <textarea name="name" placeholder="Your Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-input-box">
                                                    <div class="form-input-title">
                                                        <label>Your Message<span>*</span></label>
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="name" placeholder="Your Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-input-box has-icon icon-right">
                                                    <div class="form-input">
                                                        <textarea name="message" placeholder="Your Message"></textarea>
                                                        <div class=""><span><i class="ri-pencil-line"></i></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-input-box has-icon icon-left">
                                                    <div class="form-input">
                                                        <textarea name="message" placeholder="Your Message"></textarea>
                                                        <div class=""><span><i class="ri-pencil-line"></i></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-input-box">
                                                    <div class="floating-form-input">
                                                        <textarea class="textareaText" required=""></textarea>
                                                        <span class="floating-label-two">Your Message</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="row gy-30">
                                                    <div class="col-lg-6">
                                                        <div class="form-input">
                                                            <div class="form-input-title">
                                                                <label> Default select option<span>*</span></label>
                                                            </div>
                                                            <select>
                                                                <option>Select option One</option>
                                                                <option>Select option Two</option>
                                                                <option>Select option Three</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-input">
                                                            <div class="form-input-title mb--5">
                                                                <label>Nice select option</label>
                                                            </div>
                                                            <div class="input-box-select w-100">
                                                                <select>
                                                                    <option>Select option One</option>
                                                                    <option>Select option Two</option>
                                                                    <option>Select option Three</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <h5 class="mb-20">Radio Button</h5>
                                                <div class="singel-radio mb-15">
                                                    <input type="radio" id="radioButton" name="payment">
                                                    <label for="radioButton">Radio Button</label>
                                                </div>
                                                <div class="singel-radio">
                                                    <input type="radio" id="radioButton2" name="payment">
                                                    <label for="radioButton2">Radio Button</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="mb-20">Checkbox Button</h5>
                                                <div class="checkout-option mb-15">
                                                    <input id="checkboxDefault" type="checkbox">
                                                    <label for="checkboxDefault">Checkbox</label>
                                                </div>
                                                <div class="checkout-option">
                                                    <input id="checkboxChecked" type="checkbox" checked>
                                                    <label for="checkboxChecked">checked</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="mb-20">Switch checkbox</h5>
                                                <div class="d-flex-items gap-30 mb-15">
                                                    <label class="switch-checkbox">
                                                        <input type="checkbox">
                                                        <span class="switch round"></span>
                                                    </label>
                                                    <p>Default Switch</p>
                                                </div>
                                                <div class="d-flex-items gap-30">
                                                    <label class="switch-checkbox">
                                                        <input type="checkbox" checked="">
                                                        <span class="switch round"></span>
                                                    </label>
                                                    <p>Selected Switch</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="mb-20">Switch Checkbox 2</h5>
                                                <div class="d-flex-items gap-30 mb-15">
                                                    <div class="bd-toggle bd-toggle-success on" id="general-notifications">
                                                        <span></span>
                                                    </div>
                                                    <p>Default Switch</p>
                                                </div>
                                                <div class="d-flex-items gap-30">
                                                    <div class="bd-toggle bd-toggle-success" id="email-notifications">
                                                        <span></span>
                                                    </div>
                                                    <p>Selected Switch</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="pagination">
                                <div class="bd-style-guide-pagination">
                                    <h5 class="bd-style-guide-title mb-20">Pagination</h5>
                                    <div class="bd-style-pagination-item">
                                        <div class="basic-pagination mt-0 text-start">
                                            <nav>
                                                <ul>
                                                    <li>
                                                        <a href="#" class="prev">
                                                            <i class="ri-arrow-left-s-line"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="current" href="#">1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">3</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="next">
                                                            <i class="ri-arrow-right-s-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- style guide area end -->

    </main>
    <!-- Body main wrapper end -->

    <footer class="bd-footer-area">
        <div class="bd-footer-copyright-area pt-25 pb-20">
            <div class="container">
                <div class="row gy-30 align-center justify-content-lg-between justify-center">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                        <div class="bd-footer-copyright text-lg-start text-center">
                            <p class="underline"> Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                        <div class="bd-footer-copyright-list">
                            <ul class=" d-flex justify-content-lg-end justify-center">
                                <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                                <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>