<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Team</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<header>
    @await Html.PartialAsync("_Header")
</header>
    <!-- Header area end -->

 
    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="bd-breadcrumb-wrapper">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title mb-20">Our Team</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><i class="ri-home-4-line"></i> EkoAI</span>
                                    <span class="divider"><i class="ri-arrow-right-s-line"></i></span>
                                    <span class="active">Team</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-breadcrumb-shape">
                <img src="../images/shape/breadcrumb-shape.webp" alt="">
                <div class="bd-breadcrumb-glow"></div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- team area start -->
        <section class="bd-team-area section-gap">
            <div class="container">
                <div class="row gy-30">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-001.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Dr. Alex Reynolds</h5>
                                    <span class="designation">AI Research Scientist</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-002.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Dr. Clara Adams</h5>
                                    <span class="designation">Machine Learning Engineer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-003.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Dr. Mark Harris</h5>
                                    <span class="designation">AI Ethics Specialist</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-004.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Jane Smith</h5>
                                    <span class="designation">Data Scientist</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-005.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">David Kim</h5>
                                    <span class="designation">AI Software Engineer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-006.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Emily Walker</h5>
                                    <span class="designation">AI Product Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-007.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Chris Patel</h5>
                                    <span class="designation">AI Software Architect</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-team-wrapper">
                            <div class="bd-team-item">
                                <div class="bd-team-thumb-wrap">
                                    <div class="bd-team-thumb"><img src="../images/team/team-img-008.webp" alt="image"></div>
                                </div>
                                <div class="bd-team-info">
                                    <h5 class="name underline">Dr. Lucas Green</h5>
                                    <span class="designation">Deep Learning Researcher</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team area end -->
        <!-- cta area end -->
    </main>
    <!-- Body main wrapper end -->

<footer class="bd-footer-area">
    <div class="bd-footer-copyright-area pt-25 pb-20">
        <div class="container">
            <div class="row gy-30 align-center justify-content-lg-between justify-center">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                    <div class="bd-footer-copyright text-lg-start text-center">
                        <p class="underline">© Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                    <div class="bd-footer-copyright-list">
                        <ul class=" d-flex justify-content-lg-end justify-center">
                            <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                            <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script type="module" src="/js/forALL.js"></script>
</body>

</html>