<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<header>
    @await Html.PartialAsync("_Header")
</header>


    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="bd-breadcrumb-wrapper">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title mb-20">Contact Us</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><i class="ri-home-4-line"></i> EkoAI</span>
                                    <span class="divider"><i class="ri-arrow-right-s-line"></i></span>
                                    <span class="active">Contact Us</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-breadcrumb-shape">
                <img src="../images/shape/breadcrumb-shape.webp" alt="">
                <div class="bd-breadcrumb-glow"></div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- contact address area start -->
        <section class="bd-contact-address-area section-gap">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="bd-section-title-wrapper section-title-gap text-center">
                            <span class="bd-section-subtitle">Global Presence</span>
                            <h2 class="bd-section-title mb-20">Our Offices</h2>
                        </div>
                    </div>
                </div>
                <div class="row gy-30">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-map-pin-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Headquarters</h6>
                                <p>45 Silicon Valley, CA 94043, USA</p>
                                <p><a href="https://www.ekoai.com/" target="_blank">www.ekoai.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-phone-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Contact Us</h6>
                                <p>+1 (888) 456-7890</p>
                                <p>+1 (888) 654-3210</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-mail-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Email Support</h6>
                                <p><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#325b5c545d7257595d535b1c515d5f"><span class="__cf_email__" data-cfemail="f891969e97b89d93979991d69b9795">[email&#160;protected]</span></a></p>
                                <p><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#e4979194948b9690a4818f8b858dca878b89"><span class="__cf_email__" data-cfemail="eb989e9b9b84999fab8e80848a82c5888486">[email&#160;protected]</span></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-customer-service-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Help Center</h6>
                                <p><a href="https://support.ekoai.com/" target="_blank">support.ekoai.com</a></p>
                                <p><a href="https://help.ekoai.com/" target="_blank">help.ekoai.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="bd-contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202844.4626067867!2d-122.20590535339107!3d37.40296192910032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon%20Valley%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1737793673268!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact address area end -->

        <!-- contact form area start -->
        <section class="bd-contact-form-area section-gap-bottom">
            <div class="container">
                <div class="row justify-center wow bdFadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <div class="col-xl-6 col-lg-6">
                        <div class="bd-section-title-wrapper section-title-gap text-center">
                            <h2 class="bd-section-title mb-20">Get in Touch</h2>
                            <p class="bd-section-paragraph">Our dedicated EkoAI team is here to assist you with your
                                queries.</p>
                        </div>
                    </div>
                </div>
                <div class="row gy-30 justify-center align-center wow bdFadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="col-xl-12 col-lg-12">
                        <div class="bd-contact-form-wrapper">
                            <div class="bd-contact-form">
                                <form action="/ContactUsPost" method="post">
                                    <div class="row justify-center gy-30">
                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="name">Name <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="name" id="name" type="text" placeholder="Your Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="emailAddress">Email Address <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="email" id="emailAddress" type="email" placeholder="Your Email Address">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="phoneNumber">Phone Number <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="phone" id="phoneNumber" type="text" placeholder="Your Phone Number">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="subject">Subject <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="subject" id="subject" type="text" placeholder="Subject">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-12">
                                            <div class="form-input-box mb-15">
                                                <div class="form-input-title">
                                                    <label for="message">Message <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <textarea name="message" id="message" placeholder="Write your message here"></textarea>
                                                </div>
                                            </div>
                                            <div class="checkbox-option">
                                                <input id="privacy-check" type="checkbox">
                                                <label for="privacy-check">I agree to EkoAI's</label>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-3">
                                            <div class="bd-contact-form-btn">
                                                <button class="bd-btn btn-gradient w-100" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact form area end -->

    </main>
    <!-- Body main wrapper end -->

    <!-- footer area start -->
<footer class="bd-footer-area">
    <div class="bd-footer-copyright-area pt-25 pb-20">
        <div class="container">
            <div class="row gy-30 align-center justify-content-lg-between justify-center">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                    <div class="bd-footer-copyright text-lg-start text-center">
                        <p class="underline">© Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                    <div class="bd-footer-copyright-list">
                        <ul class=" d-flex justify-content-lg-end justify-center">
                            <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                            <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script type="module" src="/js/forALL.js"></script>
<script type="module" src="/js/checkplan.js"></script>
</body>

</html>