<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<header>
    <div class="bd-header-area" id="header-sticky">
        <div class="bd-header-inner">
            <div class="bd-header-left">
                <div class="bd-header-logo">
                    <a class="bd-header-dark-logo" href="/">
                        <img src="../images/logo/logo-white.svg" alt="image">
                    </a>
                    <a class="bd-header-light-logo" href="/">
                        <img src="../images/logo/logo-black.svg" alt="image">
                    </a>
                </div>
            </div>
            <div class="bd-header-menu d-none d-xl-block">
                <nav class="main-menu bd-mobile-menu-active">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- page menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="submenu">
                                <li><a href="/Information/StyleGuide">Style Guide</a></li>
                                <li><a href="/Information/About">About Us</a></li>
                                <li><a href="/Information/Team">Team</a></li>
                                <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                                <li><a href="/Auth/SignIn">Sign In</a></li>
                                <li><a href="/Auth/SignUp">Sign Up</a></li>
                                <li><a href="/Information/ComingSoon">Coming Soon</a></li>
                                <li><a href="/Information/Maintenance">Maintenance</a></li>
                                <li><a href="/Information/Error">404</a></li>
                            </ul>
                        </li>

                        <!-- dashboard menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Dashboard</a>
                            <ul class="submenu">
                                <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                <li><a href="/Dashboard/Profile">Profile</a></li>
                                <li><a href="/Generators/Image">Image Generator</a></li>
                                <li><a href="/Generators/Video">Video Generator</a></li>
                                <li><a href="/Generators/Code">Code Generator</a></li>
                                <li><a href="/Generators/Text">Text Generator</a></li>
                                <li><a href="/Generators/Email">Email Generator</a></li>
                                <li><a href="/Generators/Website">Website Generator</a></li>
                                <li><a href="/Dashboard/Faq">FAq</a></li>
                            </ul>
                        </li>

                        <!-- blog menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Blog</a>
                            <ul class="submenu">
                                <li><a href="/Blog">Blog</a></li>
                                <li><a href="/Blog/BlogDetails">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="bd-header-right">
                <div class="bd-header-user">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="author">
                                <div class="author-thumb">
                                    <img src="../images/avatar/main-user.webp" alt="user">
                                </div>
                                <div class="verified-badge pos-badge">
                                    <i class="icon-check"></i>
                                </div>
                            </div>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="bd-user-info">
                                <div class="thumb"><img src="../images/avatar/main-user.webp" alt="user"></div>
                                <div class="meta">
                                    <h6 class="name">John Doe</h6>
                                </div>
                            </li>
                            <li class="bd-user-info-list"><a href="/Dashboard/Dashboard"><i class="ri-home-4-line"></i>Welcome</a>
                            </li>
                            <li class="bd-user-info-list"><a href="/Dashboard/Profile"><i class="ri-user-line"></i>Profile</a></li>
                            <li class="bd-user-info-list"><a href="/Auth/SignIn"><i
                                        class="ri-logout-circle-line"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bd-header-hamburger">
                    <div class="sidebar-toggle">
                        <a class="bar-icon" href="javascript:void(0)">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Header area end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="bd-offcanvas-area">
            <div class="bd-offcanvas-wrapper">
                <div class="bd-offcanvas-content">
                    <div class="bd-offcanvas-top d-flex justify-between align-center mb-30">
                        <div class="bd-offcanvas-logo">
                            <a class="bd-header-dark-logo" href="index.html">
                                <img src="../images/logo/logo-white.svg" alt="image">
                            </a>
                            <a class="bd-header-light-logo" href="index.html">
                                <img src="../images/logo/logo-black.svg" alt="image">
                            </a>
                        </div>
                        <div class="bd-offcanvas-close">
                            <button class="bd-offcanvas-close-icon animation--flip">
                                <span class="bd-offcanvas-m-lines">
                                <span class="bd-offcanvas-m-line line--1"></span><span
                                    class="bd-offcanvas-m-line line--2"></span><span
                                    class="bd-offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="bd-offcanvas-search mb-30">
                        <form action="#">
                            <input type="text" name="bd-offcanvasSearch" placeholder="Search Keyword">
                            <button type="submit"><i class="icon-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="bd-mobile-menu">
                        <div class="bd-offcanvas-menu mb-30">
                            <nav></nav>
                        </div>
                    </div>
                    <div class="bd-offcanvas-about mb-30">
                        <h4 class="bd-offcanvas-title-meta">About EkoAI</h4>
                        <p>EkoAI pioneers AI-driven solutions, empowering businesses with intelligent automation and
                            innovation.</p>
                    </div>
                    <div class="bd-offcanvas-contact mb-30">
                        <h4 class="bd-offcanvas-title-meta">Contact Info</h4>
                        <ul>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a target="_blank" href="#">
                                        <i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a target="_blank" href="#">123 Knowledge Lane, Learnville, 54321, USA</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="tel:+1234567890"><i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="tel:+1234567890">+1-234-567-890</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#472e29212807222c28262e6924282a"><i class="icon-envelope"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#036a6d656c4366686c626a2d606c6e"><span class="__cf_email__" data-cfemail="89e0e7efe6c9ece2e6e8e0a7eae6e4">[email&#160;protected]</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="bd-offcanvas-btn-wrap mb-30">
                        <h4 class="bd-offcanvas-title-meta">Account</h4>
                        <div class="bd-offcanvas-btn d-flex align-center gap-10">
                            <a class="bd-btn btn-gradient btn-small" href="sign-in.html">Sing In</a>
                            <a class="bd-btn btn-secondary btn-small" href="sign-up.html">Sign Up</a>
                        </div>
                    </div>
                    <div class="bd-offcanvas-social">
                        <h4 class="bd-offcanvas-title-meta">Follow Us</h4>
                        <div class="theme-social has-white">
                            <ul class="social-icon-list">
                                <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd-offcanvas-overlay"></div>
    <div class="bd-offcanvas-overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="bd-breadcrumb-wrapper">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title mb-20">Contact Us</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><i class="ri-home-4-line"></i> EkoAI</span>
                                    <span class="divider"><i class="ri-arrow-right-s-line"></i></span>
                                    <span class="active">Contact Us</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-breadcrumb-shape">
                <img src="../images/shape/breadcrumb-shape.webp" alt="">
                <div class="bd-breadcrumb-glow"></div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- contact address area start -->
        <section class="bd-contact-address-area section-gap">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="bd-section-title-wrapper section-title-gap text-center">
                            <span class="bd-section-subtitle">Global Presence</span>
                            <h2 class="bd-section-title mb-20">Our Offices</h2>
                        </div>
                    </div>
                </div>
                <div class="row gy-30">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-map-pin-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Headquarters</h6>
                                <p>45 Silicon Valley, CA 94043, USA</p>
                                <p><a href="https://www.ekoai.com/" target="_blank">www.ekoai.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-phone-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Contact Us</h6>
                                <p>+1 (888) 456-7890</p>
                                <p>+1 (888) 654-3210</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-mail-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Email Support</h6>
                                <p><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#325b5c545d7257595d535b1c515d5f"><span class="__cf_email__" data-cfemail="f891969e97b89d93979991d69b9795">[email&#160;protected]</span></a></p>
                                <p><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#e4979194948b9690a4818f8b858dca878b89"><span class="__cf_email__" data-cfemail="eb989e9b9b84999fab8e80848a82c5888486">[email&#160;protected]</span></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="bd-contact-address-box light-effect">
                            <div class="icon">
                                <i class="ri-customer-service-line"></i>
                            </div>
                            <div class="content">
                                <h6 class="title">Help Center</h6>
                                <p><a href="https://support.ekoai.com/" target="_blank">support.ekoai.com</a></p>
                                <p><a href="https://help.ekoai.com/" target="_blank">help.ekoai.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="bd-contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202844.4626067867!2d-122.20590535339107!3d37.40296192910032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon%20Valley%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1737793673268!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact address area end -->

        <!-- contact form area start -->
        <section class="bd-contact-form-area section-gap-bottom">
            <div class="container">
                <div class="row justify-center wow bdFadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <div class="col-xl-6 col-lg-6">
                        <div class="bd-section-title-wrapper section-title-gap text-center">
                            <h2 class="bd-section-title mb-20">Get in Touch</h2>
                            <p class="bd-section-paragraph">Our dedicated EkoAI team is here to assist you with your
                                queries.</p>
                        </div>
                    </div>
                </div>
                <div class="row gy-30 justify-center align-center wow bdFadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="col-xl-12 col-lg-12">
                        <div class="bd-contact-form-wrapper">
                            <div class="bd-contact-form">
                                <form action="/ContactUsPost" method="post">
                                    <div class="row justify-center gy-30">
                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="name">Name <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="name" id="name" type="text" placeholder="Your Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="emailAddress">Email Address <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="email" id="emailAddress" type="email" placeholder="Your Email Address">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="phoneNumber">Phone Number <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="phone" id="phoneNumber" type="text" placeholder="Your Phone Number">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-input-box">
                                                <div class="form-input-title">
                                                    <label for="subject">Subject <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <input name="subject" id="subject" type="text" placeholder="Subject">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-12">
                                            <div class="form-input-box mb-15">
                                                <div class="form-input-title">
                                                    <label for="message">Message <span>*</span></label>
                                                </div>
                                                <div class="form-input">
                                                    <textarea name="message" id="message" placeholder="Write your message here"></textarea>
                                                </div>
                                            </div>
                                            <div class="checkbox-option">
                                                <input id="privacy-check" type="checkbox">
                                                <label for="privacy-check">I agree to EkoAI's</label>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-3">
                                            <div class="bd-contact-form-btn">
                                                <button class="bd-btn btn-gradient w-100" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact form area end -->

    </main>
    <!-- Body main wrapper end -->

    <!-- footer area start -->
<footer class="bd-footer-area">
    <div class="bd-footer-copyright-area pt-25 pb-20">
        <div class="container">
            <div class="row gy-30 align-center justify-content-lg-between justify-center">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                    <div class="bd-footer-copyright text-lg-start text-center">
                        <p class="underline">© Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                    <div class="bd-footer-copyright-list">
                        <ul class=" d-flex justify-content-lg-end justify-center">
                            <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                            <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>