<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome To EkoAI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="bd-header-area" id="header-sticky">
            <div class="bd-header-inner">
                <div class="bd-header-left">
                    <div class="bd-header-logo">
                        <a class="bd-header-dark-logo" href="/">
                            <img src="../images/logo/logo-white.svg" alt="image">
                        </a>
                        <a class="bd-header-light-logo" href="/">
                            <img src="../images/logo/logo-black.svg" alt="image">
                        </a>
                    </div>
                </div>
                <div class="bd-header-menu d-none d-xl-block">
                    <nav class="main-menu bd-mobile-menu-active">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- page menu -->
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="submenu">
                                    <li><a href="/Information/StyleGuide">Style Guide</a></li>
                                    <li><a href="/Information/About">About Us</a></li>
                                    <li><a href="/Information/Team">Team</a></li>
                                    <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                    <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                                    <li><a href="/Auth/SignIn">Sign In</a></li>
                                    <li><a href="/Auth/SignUp">Sign Up</a></li>
                                    <li><a href="/Information/ComingSoon">Coming Soon</a></li>
                                    <li><a href="/Information/Maintenance">Maintenance</a></li>
                                    <li><a href="/Information/Error">404</a></li>
                                </ul>
                            </li>

                            <!-- dashboard menu -->
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0)">Dashboard</a>
                                <ul class="submenu">
                                    <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                    <li><a href="/Dashboard/Profile">Profile</a></li>
                                    <li><a href="/Generators/Image">Image Generator</a></li>
                                    <li><a href="/Generators/Video">Video Generator</a></li>
                                    <li><a href="/Generators/Code">Code Generator</a></li>
                                    <li><a href="/Generators/Text">Text Generator</a></li>
                                    <li><a href="/Generators/Email">Email Generator</a></li>
                                    <li><a href="/Generators/Website">Website Generator</a></li>
                                    <li><a href="/Dashboard/Faq">FAq</a></li>
                                </ul>
                            </li>

                            <!-- blog menu -->
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0)">Blog</a>
                                <ul class="submenu">
                                    <li><a href="/Blog">Blog</a></li>
                                    <li><a href="/Blog/BlogDetails">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/ContactUs">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="bd-header-right">
                    <div class="bd-header-user">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="author">
                                    <div class="author-thumb">
                                        <img src="../images/avatar/main-user.webp" alt="user">
                                    </div>
                                    <div class="verified-badge pos-badge">
                                        <i class="icon-check"></i>
                                    </div>
                                </div>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="bd-user-info">
                                    <div class="thumb"><img src="../images/avatar/main-user.webp" alt="user"></div>
                                    <div class="meta">
                                        <h6 class="name">John Doe</h6>
                                    </div>
                                </li>
                                <li class="bd-user-info-list"><a href="/Dashboard/Dashboard"><i class="ri-home-4-line"></i>Welcome</a>
                                </li>
                                <li class="bd-user-info-list"><a href="/Dashboard/Profile"><i class="ri-user-line"></i>Profile</a></li>
                                <li class="bd-user-info-list"><a href="/Auth/SignIn"><i
                              class="ri-logout-circle-line"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bd-header-hamburger">
                        <div class="sidebar-toggle">
                            <a class="bar-icon" href="javascript:void(0)">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="bd-offcanvas-area">
            <div class="bd-offcanvas-wrapper">
                <div class="bd-offcanvas-content">
                    <div class="bd-offcanvas-top d-flex justify-between align-center mb-30">
                        <div class="bd-offcanvas-logo">
                            <a class="bd-header-dark-logo" href="index.html">
                                <img src="../images/logo/logo-white.svg" alt="image">
                            </a>
                            <a class="bd-header-light-logo" href="index.html">
                                <img src="../images/logo/logo-black.svg" alt="image">
                            </a>
                        </div>
                        <div class="bd-offcanvas-close">
                            <button class="bd-offcanvas-close-icon animation--flip">
                                <span class="bd-offcanvas-m-lines">
                                <span class="bd-offcanvas-m-line line--1"></span><span
                                    class="bd-offcanvas-m-line line--2"></span><span
                                    class="bd-offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="bd-offcanvas-search mb-30">
                        <form action="#">
                            <input type="text" name="bd-offcanvasSearch" placeholder="Search Keyword">
                            <button type="submit"><i class="icon-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="bd-mobile-menu">
                        <div class="bd-offcanvas-menu mb-30">
                            <nav></nav>
                        </div>
                    </div>
                    <div class="bd-offcanvas-about mb-30">
                        <h4 class="bd-offcanvas-title-meta">About EkoAI</h4>
                        <p>EkoAI pioneers AI-driven solutions, empowering businesses with intelligent automation and
                            innovation.</p>
                    </div>
                    <div class="bd-offcanvas-contact mb-30">
                        <h4 class="bd-offcanvas-title-meta">Contact Info</h4>
                        <ul>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a target="_blank" href="#">
                                        <i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a target="_blank" href="#">123 Knowledge Lane, Learnville, 54321, USA</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="tel:+1234567890"><i class="icon-phone"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="tel:+1234567890">+1-234-567-890</a>
                                </div>
                            </li>
                            <li class="d-flex align-center gap-10">
                                <div class="bd-offcanvas-contact-icon">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#c3aaada5ac83a6a8aca2aaeda0acae"><i class="icon-envelope"></i></a>
                                </div>
                                <div class="bd-offcanvas-contact-text">
                                    <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#aec7c0c8c1eecbc5c1cfc780cdc1c3"><span class="__cf_email__" data-cfemail="2841464e47684d43474941064b4745">[email&#160;protected]</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="bd-offcanvas-btn-wrap mb-30">
                        <h4 class="bd-offcanvas-title-meta">Account</h4>
                        <div class="bd-offcanvas-btn d-flex align-center gap-10">
                            <a class="bd-btn btn-gradient btn-small" href="sign-in.html">Sing In</a>
                            <a class="bd-btn btn-secondary btn-small" href="sign-up.html">Sign Up</a>
                        </div>
                    </div>
                    <div class="bd-offcanvas-social">
                        <h4 class="bd-offcanvas-title-meta">Follow Us</h4>
                        <div class="theme-social has-white">
                            <ul class="social-icon-list">
                                <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd-offcanvas-overlay"></div>
    <div class="bd-offcanvas-overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Body main wrapper start -->
    <main>

        <!-- banner area start -->
        <section class="bd-hero-area p-relative fix">
            <div class="banner-shape">
                <img src="../images/shape/banner-shape.webp" alt="">
                <div class="bd-banner-glow"></div>
            </div>
            <div class="container">
                <div class="row justify-center wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xxl-10 col-xl-8 col-lg-10">
                        <div class="bd-banner-content cd-headline clip text-center">
                            <h1 class="bd-banner-title">Advanced AI
                                <br>
                                <span class="cd-words-wrapper">
                           <b class="is-visible">Image Generator</b>
                           <b class="is-hidden">Video Generator</b>
                           <b class="is-hidden">Code Generator</b>
                           <b class="is-hidden">Text Generator</b>
                           <b class="is-hidden">Email Generator</b>
                           <b class="is-hidden">Website Generator</b>
                        </span>
                                <br>
                                <span class="opacity-5">in Future</span>
                            </h1>
                            <p class="bd-banner-intro">Revolutionize your creativity with advanced AI tools for generating
                                images, videos, code, and more—effortlessly shaping the future.</p>
                            <div class="bd-banner-button">
                                <a class="bd-btn bg-light-gradient btn-medium" href="text-generator.html">
                                    <div class="has-bg-light"></div>
                                    <span>Start creating free</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner area end -->

        <!-- about area start -->
        <section class="bd-about-area section-gap">
            <div class="container">
                <div class="row gy-30 justify-between align-end">
                    <div class="col-lg-4 col-md-6">
                        <div class="bd-about-content section-title-gap wow bdFadeInLeft" data-wow-duration="2s" data-wow-delay=".1s">
                            <div class="bd-section-title-wrapper mb-30">
                                <h2 class="bd-section-title">About EkoAI</h2>
                                <p class="bd-section-intro">EkoAI is at the forefront of AI technology, offering innovative
                                    solutions to help businesses scale and individuals excel.</p>
                            </div>
                            <div class="bd-about-btn">
                                <a class="bd-btn btn-gradient" href="Information/About">Know More</a>
                            </div>
                        </div>
                        <div class="bd-about-thumb wow bdFadeInLeft" data-wow-duration="2s" data-wow-delay=".1s">
                            <img src="../images/ihide.jpg" alt="campus">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow bdFadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                        <div class="bd-about-thumb">
                            <img src="../images/broushouldtrain.jpg" alt="campus">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 wow bdFadeInRight" data-wow-duration="2s" data-wow-delay=".1s">
                        <div class="bd-about-thumb-group">
                            <div class="bd-about-thumb">
                                <img src="../images/istrongjust.jpg" alt="campus">
                            </div>
                            <div class="bd-about-thumb">
                                <img src="../images/aim.jpg" alt="campus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->

        <!-- service area start -->
        <section class="bd-service-area section-gap-bottom">
            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="bd-section-title-wrapper section-title-gap text-center wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <h2 class="bd-section-title">Our Services</h2>
                            <p class="bd-section-intro">Unlock the full potential of AI with our comprehensive range of
                                services designed to enhance your business and personal growth.</p>
                        </div>
                    </div>
                </div>
                <div class="row gy-30">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/image-generator-icon.svg" alt="icon">
                            </div>
                            <h4 class="title underline"><a href="/Generators/Image">Image Generator</a></h4>
                            <p class="intro">Generate unique images effortlessly with our tool. Customize and
                                create stunning visuals.</p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Image">Create
                                    Your Content</a></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/video-generator-icon.svg" alt="icon">
                            </div>
                            <h4 class="title underline"><a href="/Generators/Video">Video Generator</a></h4>
                            <p class="intro">Generate unique videos effortlessly with our tool. Customize and
                                create stunning visuals.</p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Video">Create
                                    Your Content</a></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/code-generator-icon.svg" alt="icon">
                            </div>
                            <h4 class="title underline"><a href="/Generators/Code">Code Generator</a></h4>
                            <p class="intro">Generate unique code effortlessly with our tool. Customize and
                                streamline development.</p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Code">Create Your
                                    Content</a></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/text-generator-icon.svg" alt="icon">
                            </div>
                            <h4 class="title underline"><a href="/Generators/Text">Text Generator</a></h4>
                            <p class="intro">Generate unique text effortlessly with our tool. Customize and enhance
                                your content.</p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Text">Create Your
                                    Content</a></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/mail-generator-icon.svg" alt="icon">
                            </div>
                            <h4 class="title underline"><a href="/Generators/Email">Email Generator</a></h4>
                            <p class="intro">Generate unique emails effortlessly with our tool. Customize and
                                enhance communication.</p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Email">Create
                                    Your Content</a></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-app-service-box light-effect">
                            <div class="service-icon"><img src="../images/app-service/website-generator-icon.svg" alt="icon"></div>
                            <h4 class="title underline"><a href="/Generators/Website">Website Generator</a></h4>
                            <p class="intro">Generate unique websites effortlessly with our tool. Create your online presence.
                            </p>
                            <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Website">Create
                                    Your Content</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service area end -->

        <!-- partner area start -->
        <div class="bd-partner-area section-gap p-relative fix section-separator">
            <div class="section-glow-wrapper">
                <div class="section-glow"></div>
                <div class="section-glow glow-2"></div>
            </div>
            <div class="container">
                <div class="row gy-30 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="bd-section-title-wrapper">
                            <h2 class="bd-section-title">Our Global Partners</h2>
                            <p class="bd-section-intro">We collaborate with leading companies and organizations to deliver
                                top-tier AI solutions across the globe.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="bd-partner-wrapper">
                            <div class="bd-partner-box">
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-001.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-002.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-003.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-004.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-005.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-006.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-007.webp" alt="image">
                                </div>
                                <div class="bd-partner-item">
                                    <img src="../images/partner/partner-img-008.webp" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partner area end -->

        <!-- pricing area start -->
        <section class="bd-pricing-area section-gap">
            <div class="container">
                <div class="row g-30 align-center justify-between section-title-gap wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xxl-6 col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="bd-section-title-wrapper">
                            <span class="bd-section-subtitle">OUR COURSE PLAN</span>
                            <h2 class="bd-section-title">Best Prices for Better Growth</h2>
                        </div>
                    </div>
                </div>
                <div class="bd-pricing-plan-items-group row wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <!-- Basic Plan -->
                    <div class="col col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="bd-pricing-plan-wrap">
                            <h3 class="title">Basic</h3>
                            <div class="price-wrap">
                                <div class="common-price monthly-pricing ml-0" style="display: block;">
                                    <h2 class="amount">Free</h2>
                                </div>
                                <div class="common-price yearly-pricing" style="display: none;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">15</h2>
                                </div>
                            </div>
                            <p>Perfect for personal AI and small projects.</p>
                            <div class="separator-animated mt-30 mb-30"></div>
                            <ul class="bd-pricing-plan-list">
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">50,000 AI Tokens/Month</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Basic Text Generation</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">3 AI Models</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">API Access</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Custom Fine-tuning</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Priority Support</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Pro Plan -->
                    <div class="col col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="bd-pricing-plan-wrap style-three">
                            <h3 class="title">Pro</h3>
                            <div class="price-wrap">
                                <div class="common-price monthly-pricing" style="display: block;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">25</h2>
                                </div>
                                <div class="common-price yearly-pricing" style="display: none;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">220</h2>
                                </div>
                            </div>
                            <p>Ideal for freelancers and small teams using AI.</p>
                            <div class="separator-animated mt-30 mb-30"></div>
                            <ul class="bd-pricing-plan-list">
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">200,000 AI Tokens/Month</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Advanced Text Generation</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">5 AI Models</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Basic API Access</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Custom Fine-tuning</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Priority Support</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Business Plan -->
                    <div class="col col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="bd-pricing-plan-wrap style-three redemanded_item" data-background="../images/shape/shape_dots_bg.webp">
                            <h3 class="title">Business</h3>
                            <div class="price-wrap">
                                <div class="common-price monthly-pricing" style="display: block;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">35</h2>
                                </div>
                                <div class="common-price yearly-pricing" style="display: none;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">399</h2>
                                </div>
                            </div>
                            <p>Perfect for growing businesses leveraging AI.</p>
                            <div class="separator-animated mt-30 mb-30"></div>
                            <ul class="bd-pricing-plan-list">
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">1 Million AI Tokens/Month</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Advanced Generation</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">All AI Models</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Full API Access</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Custom Fine-tuning</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Priority Support</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Enterprise Plan -->
                    <div class="col col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="bd-pricing-plan-wrap style-three">
                            <h3 class="title">Enterprise</h3>
                            <div class="price-wrap">
                                <div class="common-price monthly-pricing" style="display: block;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">50</h2>
                                </div>
                                <div class="common-price yearly-pricing" style="display: none;">
                                    <span class="dollar">$</span>
                                    <h2 class="amount">599</h2>
                                </div>
                            </div>
                            <p>Custom AI solutions for large organizations.</p>
                            <div class="separator-animated mt-30 mb-30"></div>
                            <ul class="bd-pricing-plan-list">
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Unlimited AI Tokens</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">All Generation Capabilities</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Custom Model Development</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Advanced API Integration</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">Dedicated Fine-tuning</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ri-check-line"></i></span>
                                    <span class="list-title">24/7 Priority Support</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bd-pricing-btn d-flex-center mt-50">
                    <a class="bd-btn btn-gradient" href="Information/PricingDetails">Compare Plans</a>
                </div>
            </div>
        </section>
        <!-- pricing area end -->

        <!-- FAq area start -->
        <section class="bd-faq-area section-gap section-separator">
            <div class="section-glow-wrapper">
                <div class="section-glow"></div>
                <div class="section-glow glow-2"></div>
            </div>
            <div class="container">
                <div class="row justify-center wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xl-6 col-lg-8 col-md-12">
                        <div class="bd-section-title-wrapper section-title-gap text-center">
                            <h2 class="bd-section-title">Frequently Asked Questions</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-center wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="accordion-common-style accordion-transparent accordion-style-one">
                            <div class="accordion" id="accordionExampleTwo">
                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            What is EkoAI?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            EkoAI is an innovative platform that leverages artificial intelligence to help
                                            businesses optimize processes, reduce costs, and enhance decision-making. Our
                                            solutions are designed to integrate seamlessly into your operations for maximum
                                            efficiency.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            How does EkoAI ensure data privacy and security?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            We prioritize the security and confidentiality of your data. EkoAI uses advanced
                                            encryption technologies and adheres to global data protection standards to ensure
                                            your information remains secure.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Can EkoAI be customized for specific industries?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            Yes! EkoAI offers tailored solutions for various industries, including healthcare,
                                            finance, manufacturing, and more. We work closely with clients to develop AI-driven
                                            tools that meet their unique needs.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            Do I need technical expertise to use EkoAI?
                                        </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            Not at all! EkoAI is designed to be user-friendly, with intuitive dashboards and
                                            easy-to-use features. Our team also provides comprehensive support to help you get
                                            started.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingEight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            What kind of support does EkoAI offer?
                                        </button>
                                    </h2>
                                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            We provide 24/7 customer support, detailed documentation, and training sessions to
                                            ensure you make the most of EkoAI's features. Our team is always here to assist with
                                            any queries or issues.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingNine">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            How can I get started with EkoAI?
                                        </button>
                                    </h2>
                                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            Getting started is simple! Visit our website, choose a plan that fits your needs,
                                            and follow our step-by-step guide to set up your account. If you need help, our team
                                            is ready to assist you.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item light-effect">
                                    <h2 class="accordion-header" id="headingTen">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            Is EkoAI scalable for growing businesses?
                                        </button>
                                    </h2>
                                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExampleTwo">
                                        <div class="accordion-body">
                                            Absolutely! EkoAI is built to scale with your business, offering flexible solutions
                                            that grow alongside your needs. Whether you're a small startup or a large
                                            enterprise, EkoAI has you covered.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bd-footer-area">
        <div class="bd-footer-copyright-area pt-25 pb-20">
            <div class="container">
                <div class="row gy-30 align-center justify-content-lg-between justify-center">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8">
                        <div class="bd-footer-copyright text-lg-start text-center">
                            <p class="underline">© Copyright <span id="year"></span> Developed By <span class="c-name">EkoAI</span></p>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-12">
                        <div class="bd-footer-copyright-list">
                            <ul class=" d-flex justify-content-lg-end justify-center">
                                <li class="underline"><a href="/Dashboard/TermsConditions">Terms and Conditions</a></li>
                                <li class="underline"><a href="/Dashboard/PrivacyPolicy">Privacy and Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <secript src="../js/main.js"></secript>
</body>

</html>