<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>


    <!-- Dashboard page wrapper start -->
    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>

        <!-- Start app-content-area -->
        <div class="app-content-area p-relative">
            <div class="app-content-wrap">
                <div class="generator-box-wrapper generator-gap">
                    <div class="single-item-generator">
                        <div class="chat-box">
                            <div class="chat-box-author d-flex flex-wrap justify-end align-start gap-20">
                                <div class="author-text-box d-flex align-center gap-15">
                                    <div class="d-flex align-center gap-10">
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-file-copy-line"></i>
                                            <span class="bd-tooltip">Copy</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-edit-fill"></i>
                                            <span class="bd-tooltip">Edit message</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-delete-bin-line"></i>
                                            <span class="bd-tooltip">Delete</span>
                                        </button>
                                    </div>
                                    <div class="text">Can you draft a professional email for our new product launch?
                                    </div>
                                </div>
                                <div class="author">
                                    <div class="author-thumb">
                                        <img src="../images/avatar/main-user.webp" alt="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="d-flex flex-wrap justify-start align-start gap-20">
                                <div class="ekoai-thumb"><img src="../images/logo/favicon.svg" alt=""></div>
                                <div class="ekoai-body">
                                    <p class="description">Here’s a concise and impactful email draft:</p>
                                    <h4 class="text-hading-title">"Introducing Our Latest Innovation"</h4>
                                    <p class="description">
                                        Dear <b>[Recipient's Name]</b>,<br><br>
                                        We are thrilled to announce the launch of <b>[Product Name]</b>, a groundbreaking
                                        solution designed to [key benefit].
                                        Our mission has always been to bring innovative and user-friendly solutions to
                                        our customers,
                                        and <b>[Product Name]</b> is a testament to that commitment.<br><br>
                                        Key Features:<br>
                                        - Feature 1<br>
                                        - Feature 2<br>
                                        - Feature 3<br><br>
                                        To learn more or experience <b>[Product Name]</b> firsthand, visit our website or
                                        contact our team at <b>[contact information]</b>.<br><br>
                                        We’d love to hear your feedback and look forward to your continued
                                        support!<br><br>
                                        Best regards,<br>
                                        <b>[Your Name/Team Name]</b>
                                    </p>
                                    <div class="generator-info">
                                        <p class="description">Would you like to add any specific details or adjust the
                                            tone of this email?</p>
                                        <div class="generator-info-btn d-flex align-center gap-05">
                                            <button class="generator-btn bd-tooltip-show" type="button">
                                                <i class="ri-volume-up-line"></i>
                                                <span class="bd-tooltip bottom">Read aloud</span>
                                            </button>
                                            <button class="generator-btn bd-tooltip-show" type="button">
                                                <i class="ri-thumb-up-line"></i>
                                                <span class="bd-tooltip bottom">Good response</span>
                                            </button>
                                            <button class="generator-btn bd-tooltip-show" type="button">
                                                <i class="ri-thumb-down-line"></i>
                                                <span class="bd-tooltip bottom">Bad response</span>
                                            </button>
                                            <button class="generator-btn bd-tooltip-show" type="button">
                                                <i class="ri-edit-box-line"></i>
                                                <span class="bd-tooltip bottom">Edit in canvas</span>
                                            </button>
                                            <button class="generator-btn bd-tooltip-show" type="button">
                                                <i class="ri-share-line"></i>
                                                <span class="bd-tooltip bottom">Share</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- new chat form -->
            <div class="new-chat-form-wrapper">
                <div class="new-chat-form">
                    <form action="#">
                        <textarea placeholder="Write Message.."></textarea>
                        <div class="new-chat-input d-flex align-center justify-between gap-30 mt-15">
                            <div class="">
                                <div class="generator-info-btn d-flex align-center gap-05">
                                    <div class="generator-btn bd-tooltip-show">
                                        <i class="ri-attachment-line"></i>
                                        <input type="file" class="input-file" name="myfile" multiple="">
                                        <span class="bd-tooltip">Attach files</span>
                                    </div>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-image-line"></i>
                                        <span class="bd-tooltip">Search Image</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-file-video-line"></i>
                                        <span class="bd-tooltip">Search Video</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-global-line"></i>
                                        <span class="bd-tooltip">Search Web</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-file-text-line"></i>
                                        <span class="bd-tooltip">Search Text</span>
                                    </button>
                                </div>
                            </div>
                            <div class="">
                                <button class="generator-btn bd-tooltip-show" type="button">
                                    <i class="ri-upload-line"></i>
                                    <span class="bd-tooltip">Message is empty</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- new chat form -->
        </div>
        <!-- end app-content-area -->

    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap mobile-right">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script type="module" src="/js/forALL.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
</body>

</html>