<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Text Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

  

    <!-- Dashboard page wrapper start -->
    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>

        <!-- Start app-content-area -->
        <div class="app-content-area p-relative">
            <div class="app-content-wrap">
                <div class="generator-box-wrapper generator-gap">
                    <div class="single-item-generator">
                    </div>
                </div>
            </div>
            <!-- new chat form -->
            <div class="new-chat-form">
                <form id="chatForm">
                    <textarea id="messageInput" placeholder="Write Message.."></textarea>
                    <div class="new-chat-input d-flex align-center justify-between gap-30 mt-15">
                        <div class="">
                        </div>
                        <div class="">
                            <button class="generator-btn bd-tooltip-show" type="submit">
                                <i class="ri-upload-line"></i>
                                <span class="bd-tooltip"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- new chat form -->
        </div>
        <!-- end app-content-area -->
    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap mobile-right">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
    <script type="module" src="/js/forALL.js"></script>
    <script type="module" src="../js/aiText.js"></script>
    <script type="module" src="/js/checkplan.js"></script>
</body>

</html>