<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Video Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>


    <!-- Dashboard page wrapper start -->
    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>

        <!-- Start app-content-area -->
        <div class="app-content-area p-relative">
            <div class="app-content-wrap app-gap-bottom">
                <div class="generator-box-wrapper generator-gap">
                    <div class="single-item-generator">
                        <div class="chat-box">
                            <div class="chat-box-author d-flex flex-wrap justify-end align-start gap-20">
                                <div class="author-text-box d-flex align-start gap-15">
                                    <div class="d-flex align-center gap-10">
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-file-copy-line"></i>
                                            <span class="bd-tooltip">Copy</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-edit-fill"></i>
                                            <span class="bd-tooltip">Edit message</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-delete-bin-line"></i>
                                            <span class="bd-tooltip">Delete</span>
                                        </button>
                                    </div>
                                    <div class="text">
                                        Generate a promotional video for our latest product.
                                        <div class="text-thumb">
                                            <img src="../images/generator/generator-video-001.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <div class="author-thumb">
                                        <img src="../images/avatar/main-user.webp" alt="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="d-flex flex-wrap justify-start align-start gap-20">
                                <div class="ekoai-thumb"><img src="../images/logo/favicon.svg" alt=""></div>
                                <div class="ekoai-body">
                                    <div class="prompt-box mb-30">
                                        <div class="head d-flex justify-between">
                                            <div class="">prompt</div>
                                            <div class="meta-btn d-flex align-center gap-15">
                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-file-copy-line"></i> Copy
                                                    <span class="bd-tooltip">Copy</span>
                                                </button>

                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-pencil-line"></i> Edit
                                                    <span class="bd-tooltip">Edit in canvas</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="content">Create a 30-second promotional video featuring our latest
                                            product. The video should highlight the product's key features, benefits,
                                            and applications. Use a modern style with smooth transitions, upbeat
                                            background music, and on-screen text for better engagement. Output should be
                                            in 1080p with dynamic lighting effects and brand colors incorporated.
                                        </div>
                                    </div>
                                    <div class="generator-image-wrap">
                                        <h6 class="title fs-16">Generated Video Preview:</h6>
                                        <div class="generator-image mb-25">
                                            <div class="generator-image-btn d-flex align-center justify-between">
                                                <div class="like-dislike-btn d-flex align-center gap-05">
                                                    <button class="generator-btn" type="button"><i
                                                            class="ri-thumb-up-line"></i></button>
                                                    <button class="generator-btn dislike" type="button"><i
                                                            class="ri-thumb-down-line"></i></button>
                                                </div>
                                                <div class="download-btn">
                                                    <button class="generator-btn download" type="button"><i
                                                            class="ri-download-line"></i></button>
                                                </div>
                                            </div>
                                            <div class="generator-video"><video loop="" controls="" src="../video/generat-video-002.mp4"></video></div>
                                            <div class="generator-image-btn bottom">
                                                <button class="generator-btn w-auto" type="button">
                                                    <i class="ri-repeat-line"></i> Regenerate</button>
                                            </div>
                                            <div class="generator-image-btn bottom">
                                                <button class="generator-btn w-auto" type="button">
                                                    <i class="ri-repeat-line"></i> Regenerate</button>
                                            </div>
                                        </div>

                                        <div class="generator-info">
                                            <h6 class="title">Select the modification number:</h6>
                                            <ul class="generator-info-list sl-number-counts">
                                                <li> Add product-specific animations for better engagement.</li>
                                                <li> Use a voiceover to explain the key features and benefits.</li>
                                                <li> Adjust the background music to be more dynamic and energetic.</li>
                                            </ul>
                                            <p class="description">Let us know if you’d like further adjustments to this
                                                video!</p>
                                            <div class="generator-info-btn d-flex align-center gap-05">
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-volume-up-line"></i>
                                                    <span class="bd-tooltip bottom">Read aloud</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-thumb-up-line"></i>
                                                    <span class="bd-tooltip bottom">Good response</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-thumb-down-line"></i>
                                                    <span class="bd-tooltip bottom">bad response</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-edit-box-line"></i>
                                                    <span class="bd-tooltip bottom">Edit in canvas</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-share-line"></i>
                                                    <span class="bd-tooltip bottom">Share</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="multi-item-generator">
                        <div class="chat-box">
                            <div class="chat-box-author d-flex flex-wrap justify-end align-start gap-20">
                                <div class="author-text-box d-flex align-center gap-15">
                                    <div class="d-flex align-center gap-10">
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-file-copy-line"></i>
                                            <span class="bd-tooltip">Copy</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-edit-fill"></i>
                                            <span class="bd-tooltip">Edit message</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-delete-bin-line"></i>
                                            <span class="bd-tooltip">Delete</span>
                                        </button>
                                    </div>
                                    <div class="text">Share multiple videos showcasing your product features.</div>
                                </div>
                                <div class="author">
                                    <div class="author-thumb">
                                        <img src="../images/avatar/main-user.webp" alt="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="d-flex flex-wrap justify-start align-start gap-20">
                                <div class="ekoai-thumb"><img src="../images/logo/favicon.svg" alt=""></div>
                                <div class="ekoai-body">
                                    <div class="prompt-box mb-30">
                                        <div class="head d-flex justify-between">
                                            <div class="">prompt</div>
                                            <div class="meta-btn d-flex align-center gap-15">
                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-file-copy-line"></i> Copy
                                                    <span class="bd-tooltip">Copy</span>
                                                </button>

                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-pencil-line"></i> Edit
                                                    <span class="bd-tooltip">Edit in canvas</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="content">Showcase a series of videos highlighting your product's key
                                            features, benefits, and usage scenarios. Include high-quality visuals,
                                            engaging animations, and clear explanations in each video. Ensure
                                            consistency in branding elements, such as logo placement, colors, and fonts.
                                            Utilize a professional voiceover or captions for better accessibility.
                                            Videos should have a resolution of 1080p and adhere to modern design trends
                                            for maximum impact.
                                        </div>
                                    </div>
                                    <div class="generator-image-wrap">
                                        <h6 class="title fs-16">Here are the videos:</h6>
                                        <div class="d-grid grid-2 gap-30 mb-25">
                                            <div class="generator-image">
                                                <div class="generator-image-btn d-flex align-center justify-between">
                                                    <div class="like-dislike-btn d-flex align-center gap-05">
                                                        <button class="generator-btn" type="button"><i
                                                                class="ri-thumb-up-line"></i></button>
                                                        <button class="generator-btn dislike" type="button"><i
                                                                class="ri-thumb-down-line"></i></button>
                                                    </div>
                                                    <div class="download-btn">
                                                        <button class="generator-btn download" type="button"><i
                                                                class="ri-download-line"></i></button>
                                                    </div>
                                                </div>
                                                <div class="generator-video"><video loop="" controls="" src="../video/generat-video-001.mp4"></video></div>
                                                <div class="generator-image-btn bottom">
                                                    <button class="generator-btn w-auto" type="button">
                                                        <i class="ri-repeat-line"></i> Regenerate</button>
                                                </div>
                                            </div>
                                            <div class="generator-image">
                                                <div class="generator-image-btn d-flex align-center justify-between">
                                                    <div class="like-dislike-btn d-flex align-center gap-05">
                                                        <button class="generator-btn" type="button"><i
                                                                class="ri-thumb-up-line"></i></button>
                                                        <button class="generator-btn dislike" type="button"><i
                                                                class="ri-thumb-down-line"></i></button>
                                                    </div>
                                                    <div class="download-btn">
                                                        <button class="generator-btn download" type="button"><i
                                                                class="ri-download-line"></i></button>
                                                    </div>
                                                </div>
                                                <div class="generator-video"><video loop="" controls="" src="../video/generat-video-002.mp4"></video></div>
                                                <div class="generator-image-btn bottom">
                                                    <button class="generator-btn w-auto" type="button">
                                                        <i class="ri-repeat-line"></i> Regenerate</button>
                                                </div>
                                                <div class="generator-image-btn bottom">
                                                    <button class="generator-btn w-auto" type="button">
                                                        <i class="ri-repeat-line"></i> Regenerate</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="generator-info">
                                            <h6 class="title">Select the modification number:</h6>
                                            <ul class="generator-info-list sl-number-counts">
                                                <li> Add subtitles for better accessibility in all videos.</li>
                                                <li> Include background music to enhance engagement.</li>
                                                <li> Display a call-to-action at the end of each video.</li>
                                            </ul>
                                            <p class="description">Feel free to suggest improvements to refine the video
                                                series!</p>
                                            <div class="generator-info-btn d-flex align-center gap-05">
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-volume-up-line"></i>
                                                    <span class="bd-tooltip bottom">Read aloud</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-thumb-up-line"></i>
                                                    <span class="bd-tooltip bottom">Good response</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-thumb-down-line"></i>
                                                    <span class="bd-tooltip bottom">bad response</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-edit-box-line"></i>
                                                    <span class="bd-tooltip bottom">Edit in canvas</span>
                                                </button>
                                                <button class="generator-btn bd-tooltip-show" type="button">
                                                    <i class="ri-share-line"></i>
                                                    <span class="bd-tooltip bottom">Share</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-item-generator">
                        <div class="chat-box">
                            <div class="chat-box-author d-flex flex-wrap justify-end align-start gap-20">
                                <div class="author-text-box d-flex align-center gap-15">
                                    <div class="d-flex align-center gap-10">
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-file-copy-line"></i>
                                            <span class="bd-tooltip">Copy</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-edit-fill"></i>
                                            <span class="bd-tooltip">Edit message</span>
                                        </button>
                                        <button type="button" class="author-text-btn bd-tooltip-show">
                                            <i class="ri-delete-bin-line"></i>
                                            <span class="bd-tooltip">Delete</span>
                                        </button>
                                    </div>
                                    <div class="text">Create an engaging, user-friendly interface for a productivity app
                                        that helps users manage their daily tasks efficiently.</div>
                                </div>
                                <div class="author">
                                    <div class="author-thumb">
                                        <img src="../images/avatar/main-user.webp" alt="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="d-flex flex-wrap justify-start align-start gap-20">
                                <div class="ekoai-thumb"><img src="../images/logo/favicon.svg" alt=""></div>
                                <div class="ekoai-body">
                                    <div class="prompt-box mb-30">
                                        <div class="head d-flex justify-between">
                                            <div class="">prompt</div>
                                            <div class="meta-btn d-flex align-center gap-15">
                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-file-copy-line"></i> Copy
                                                    <span class="bd-tooltip">Copy</span>
                                                </button>

                                                <button type="button" class="meta-btn-icon bd-tooltip-show">
                                                    <i class="ri-pencil-line"></i> Edit
                                                    <span class="bd-tooltip">Edit in canvas</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="content">A sleek, modern UI design for a productivity app that
                                            prioritizes ease of use and efficiency. The interface features a clean,
                                            minimalistic layout with intuitive navigation and quick access to key
                                            features like task creation, calendar integration, and progress tracking.
                                            The color scheme blends calming blues with pops of orange for task
                                            highlights, promoting focus and energy. Designed with mobile responsiveness
                                            in mind, the app adapts seamlessly to any screen size, ensuring a consistent
                                            user experience. Created using: grid-based layout, iconography, soft
                                            shadows, high-contrast typography, and interactive elements that encourage
                                            engagement.
                                        </div>
                                    </div>
                                    <div class="generator-image-wrap">
                                        <div class="generator-image-process p-relative">
                                            <img src="../images/generator/generator-image-004.webp" alt="image-process">
                                            <div class="image-process-anim">
                                                <div class="image-process-anim-logo">
                                                    <div class="image-process-anim-circle">
                                                        <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle stroke="#F5F5F5" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                                            </circle>
                                                            <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                    <div class="thumb">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                            <path d="M3 3.9934C3 3.44476 3.44495 3 3.9934 3H20.0066C20.5552 3 21 3.44495 21 3.9934V20.0066C21 20.5552 20.5551 21 20.0066 21H3.9934C3.44476 21 3 20.5551 3 20.0066V3.9934ZM5 5V19H19V5H5ZM10.6219 8.41459L15.5008 11.6672C15.6846 11.7897 15.7343 12.0381 15.6117 12.2219C15.5824 12.2658 15.5447 12.3035 15.5008 12.3328L10.6219 15.5854C10.4381 15.708 10.1897 15.6583 10.0672 15.4745C10.0234 15.4088 10 15.3316 10 15.2526V8.74741C10 8.52649 10.1791 8.34741 10.4 8.34741C10.479 8.34741 10.5562 8.37078 10.6219 8.41459Z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new chat form -->
            <div class="new-chat-form-wrapper">
                <div class="new-chat-form">
                    <form action="#">
                        <textarea placeholder="Write Message.."></textarea>
                        <div class="new-chat-input d-flex align-center justify-between gap-30 mt-15">
                            <div class="">
                                <div class="generator-info-btn d-flex align-center gap-05">
                                    <div class="generator-btn bd-tooltip-show">
                                        <i class="ri-attachment-line"></i>
                                        <input type="file" class="input-file" name="myfile" multiple="">
                                        <span class="bd-tooltip">Attach files</span>
                                    </div>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-image-line"></i>
                                        <span class="bd-tooltip">Search Image</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-file-video-line"></i>
                                        <span class="bd-tooltip">Search Video</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-global-line"></i>
                                        <span class="bd-tooltip">Search Web</span>
                                    </button>
                                    <button class="generator-btn bd-tooltip-show" type="button">
                                        <i class="ri-file-text-line"></i>
                                        <span class="bd-tooltip">Search Text</span>
                                    </button>
                                </div>
                            </div>
                            <div class="">
                                <button class="generator-btn bd-tooltip-show" type="button">
                                    <i class="ri-upload-line"></i>
                                    <span class="bd-tooltip">Message is empty</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- new chat form -->
        </div>
        <!-- end app-content-area -->

    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap mobile-right">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
    <script type="module" src="/js/forALL.js"></script>
</body>

</html>