<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>
        <div class="app-content-area">
            <div class="app-content-wrap app-gap-bottom">
                <div class="container">
                    <div class="row justify-center">
                        <div class="col-xl-8 col-lg-12 col-md-12">
                            <div class="bd-section-title-wrapper section-title-gap-sm text-center">
                                <h2 class="bd-section-title">Create Beyond Limits with AI</h2>
                                <p class="bd-section-intro">Unlock new possibilities and transform your ideas into reality with
                                    the power of AI.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-30" id="Generate">
                        <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="bd-app-service-box light-effect">
                                <div class="service-icon"><img src="../images/app-service/code-generator-icon.svg" alt="icon">
                                </div>
                                <h4 class="title underline"><a href="/Generators/Code">Code Generator</a></h4>
                                <p class="intro">Generate unique code effortlessly with our tool. Customize and
                                    streamline development.</p>
                                <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Code">Create Your
                                        Content</a></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="bd-app-service-box light-effect">
                                <div class="service-icon"><img src="../images/app-service/text-generator-icon.svg" alt="icon">
                                </div>
                                <h4 class="title underline"><a href="/Generators/Text">Text Generator</a></h4>
                                <p class="intro">Generate unique text effortlessly with our tool. Customize and enhance
                                    your content.</p>
                                <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Text">Create Your
                                        Content</a></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow bdFadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="bd-app-service-box light-effect">
                                <div class="service-icon"><img src="../images/app-service/mail-generator-icon.svg" alt="icon">
                                </div>
                                <h4 class="title underline"><a href="/Generators/Email">Email Generator</a></h4>
                                <p class="intro">Generate unique emails effortlessly with our tool. Customize and
                                    enhance communication.</p>
                                <div class="bd-app-service-btn"><a class="bd-btn btn-outline-primary btn-small" href="/Generators/Email">Create
                                        Your Content</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end app-content-area -->

        <!-- footer area start -->
        <footer class="app-footer-area">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bd-card-footer d-flex justify-center">
                        <p>Copyright © <span id="year"></span> <span class="text-primary">EkoAI</span> Designed by <a href="https://themeforest.net/user/bdevs" target="_blank">Bdevs</a>
                            All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
    <script type="module" src="/js/forALL.js"></script>
    <script type="module" src="/js/checkplan.js"></script>
</body>

</html>