<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- Dashboard page wrapper start -->
    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>

        <!-- Start app-content-area -->
        <div class="app-content-area">
            <div class="app-content-wrap app-gap-bottom">
                <div class="container-fluid">
                    <div class="row justify-center">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="app-breadcrumb-wrap d-flex-between flex-wrap align-center gap-15 section-title-gap-sm">
                                <h2 class="app-breadcrumb-title">Profile</h2>
                                <div class="app-breadcrumb-list">
                                    <span><a href="/">EkoAI</a></span>
                                    <span class="divider"><i class="icon-angles-right"></i></span>
                                    <span class="active">Profile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="app-profile-card light-effect">
                                <div class="app-profile-thumb"><img src="../images/bg/profile-bg.webp" alt=""></div>
                                <div class="app-profile-card-body p-relative">
                                    <span class="app-profile-avatar"><img src="../images/avatar/userIcon.png" alt="user"></span>
                                    <div class="app-profile-info-wrap">
                                        <div class="app-profile-info-content">
                                            <h5 class="app-profile-name fw-semibold mb--5" id="name"></h5>
                                            <span class="d-block fw-medium mb--5" id="specialization" >Digital Artist & NFT Enthusiast</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-profile-personal-info">
                                    <div class="row gy-30">
                                        <div class="col-xl-8">
                                            <div class="single-info">
                                                <h4 class="title mb-15">About Me</h4>
                                                <p id="biography"></p>
                                            </div>
                                            <div class="single-info">
                                                <h4 class="title mb-15">Skills</h4>
                                                <div class="skills-link" id="skills"></div>
                                            </div>

                                            <div class="single-info">
                                                <h4 class="title mb-15">Contact Information</h4>
                                                <div class="skills-link">
                                                    <div class="list-item">
                                                        <ul>
                                                            <li>
                                                                <div class="title"><i class="icon-envelope"></i> Email
                                                                    :</div>
                                                                <div class="text" id="email"></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="single-info">
                                                <h4 class="title mb-15">Personal Information</h4>
                                                <div class="list-item b-bottom">
                                                    <ul>
                                                        <li>
                                                            <div class="title"><i class="icon-user"></i> Name :</div>
                                                            <div class="text" id="name2"></div>
                                                        </li>
                                                        <li>
                                                            <div class="title"><i class="icon-envelope"></i> Email :
                                                            </div>
                                                            <div class="text" id="email2"></div>
                                                        </li>
                                                        <li>
                                                            <div class="title"><i class="icon-briefcase"></i>
                                                                Designation :</div>
                                                            <div class="text" id="specialization2"></div>
                                                        </li>
                                                        <li>
                                                            <div class="title"><i class="icon-calendar"></i> Date of Birth :
                                                            </div>
                                                            <div class="text" id="dataofbirth"></div>
                                                        </li>
                                                        <li>
                                                            <div class="title"><i class="icon-award"></i> Experience :
                                                            </div>
                                                            <div class="text" id="experience"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end app-content-area -->

        <!-- footer area start -->
        <footer class="app-footer-area">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bd-card-footer d-flex justify-center">
                        <p>Copyright © <span id="year"></span> <span class="text-primary">EkoAI</span> Designed by <a href="https://themeforest.net/user/bdevs" target="_blank">Bdevs</a>
                            All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
    <script type="module" src="/js/profile.js"></script>
    <script type="module" src="/js/forALL.js"></script>
    <script type="module" src="/js/checkplan.js"></script>
</body>

</html>