<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Terms & Conditions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" href="../css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="../css/vendor/icomoon.css">
    <link rel="stylesheet" href="../css/vendor/remixicon.css">
    <link rel="stylesheet" href="../css/vendor/spacing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <div class="page">
        <header>
            @await Html.PartialAsync("_HeaderDashboard")
        </header>

        <!-- Start app-content-area -->
        <div class="app-content-area">
            <div class="app-content-wrap app-gap-bottom">
                <div class="app-breadcrumb-wrap d-flex-between flex-wrap align-center gap-15 section-title-gap-sm">
                    <h2 class="app-breadcrumb-title">Terms & Conditions</h2>
                    <div class="app-breadcrumb-list">
                        <span><a href="/">EkoAI</a></span>
                        <span class="divider"><i class="icon-angles-right"></i></span>
                        <span class="active">Terms & Conditions</span>
                    </div>
                </div>
                <div class="bd-policy-wrapper p-relative z-index-1 light-effect">
                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Introduction</h6>
                        <p>Welcome to EkoAI. These Terms and Conditions govern your use of our platform. By accessing
                            or using our website, you agree to be bound by these Terms and Conditions and our Privacy
                            Policy. If you do not agree to these Terms, please discontinue use of our platform.</p>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Use of Our Platform</h6>
                        <p class="mb-10">You are permitted to use EkoAI for lawful purposes only. By using our
                            platform, you agree not to:</p>
                        <ul>
                            <li>Engage in any activity that violates applicable laws or regulations.</li>
                            <li>Disrupt or interfere with the security or functionality of the platform.</li>
                            <li>Use the platform to distribute malicious content or unauthorized advertisements.</li>
                        </ul>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Intellectual Property</h6>
                        <p>All content on EkoAI, including text, graphics, logos, images, and software, is the
                            exclusive property of EkoAI or its licensors and is protected by applicable copyright and
                            intellectual property laws.</p>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Third-Party Links</h6>
                        <p>EkoAI may contain links to third-party websites. These websites are not under our control,
                            and we are not responsible for their content, privacy practices, or any damages arising
                            from their use.</p>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Limitation of Liability</h6>
                        <p>EkoAI, its affiliates, and employees shall not be held liable for any direct, indirect,
                            incidental, or consequential damages arising from your use of the platform, including but
                            not limited to loss of data or profits.</p>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Governing Law</h6>
                        <p>These Terms and Conditions are governed by and construed in accordance with the laws of
                            [YourCountry]. Any disputes arising from these terms will be subject to the jurisdiction
                            of the courts of [YourCountry].</p>
                    </div>

                    <div class="bd-policy-item">
                        <h6 class="bd-policy-title">Changes to Terms</h6>
                        <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be
                            effective immediately upon posting on our platform. Continued use of the platform
                            constitutes acceptance of the revised terms.</p>
                    </div>

                    <div class="bd-policy-contact">
                        <h6 class="bd-policy-title">Contact Us</h6>
                        <p>If you have any questions about these Terms and Conditions, please contact us at:</p>
                        <ul>
                            <li>Email: <a href="https://html.bdevs.net/cdn-cgi/l/email-protection#8efdfbfefee1fcfaceebe5e1efe7a0ede1e3"><span class="__cf_email__" data-cfemail="82f1f7f2f2edf0f6c2e7e9ede3ebace1edef">[email&#160;protected]</span></a></li>
                        </ul>
                        <div class="bd-policy-address">
                            <p>Address: 789 Innovation Street, Tech City, 12345, United States</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end app-content-area -->

        <!-- footer area start -->
        <footer class="app-footer-area">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bd-card-footer d-flex justify-center">
                        <p>Copyright © <span id="year"></span> <span class="text-primary">EkoAI</span> Designed by <a href="https://themeforest.net/user/bdevs" target="_blank">Bdevs</a>
                            All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

    </div>
    <!-- Dashboard page wrapper end -->

    <!-- back to top area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top area end -->

    <!-- switcher area start -->
    <div class="theme-switcher">
        <i class="ri-sun-line change-theme" id="theme-button"></i>
    </div>
    <!-- switcher area start -->

    <!-- JS here -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/plugins/popper.min.js"></script>
    <script src="../js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../js/plugins/waypoints.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins/swiper.min.js"></script>
    <script src="../js/plugins/wow.js"></script>
    <script src="../js/vendor/magnific-popup.min.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/plugins/nice-select.min.js"></script>
    <script src="../js/vendor/ajax-form.js"></script>
    <script src="../js/plugins/easypie.js"></script>
    <script src="../js/vendor/purecounter.js"></script>
    <script src="../js/vendor/backtotop.js"></script>
    <script src="../js/plugins/prism.js"></script>
    <script src="../js/plugins/typed.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/vendor/sidebar-menu.js"></script>
    <script type="module" src="/js/forALL.js"></script>
</body>

</html>