
<div>
    @await Html.PartialAsync("_header_slide")
</div>

<header>
    <div class="bd-header-area" id="header-sticky">
        <div class="bd-header-inner">
            <div class="bd-header-left">
                <div class="bd-header-logo">
                    <a class="bd-header-dark-logo" href="/">
                        <img src="../images/logo/logo-white.svg" alt="image">
                    </a>
                    <a class="bd-header-light-logo" href="/">
                        <img src="../images/logo/logo-black.svg" alt="image">
                    </a>
                </div>
            </div>
            <div class="bd-header-menu d-none d-xl-block">
                <nav class="main-menu bd-mobile-menu-active">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- page menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="submenu">
                                <li><a href="/Information/About">About Us</a></li>
                                <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                            </ul>
                        </li>

                        <!-- dashboard menu -->
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Dashboard</a>
                            <ul class="submenu">
                                <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                <li><a href="/Dashboard/Profile">Profile</a></li>
                                <li><a href="/Generators/Code">Code Generator</a></li>
                                <li><a href="/Generators/Text">Text Generator</a></li>
                                <li><a href="/Generators/Email">Email Generator</a></li>
                            </ul>
                        </li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                @await Html.PartialAsync("_UserInfo")
            </div>
        </div>
    </div>
</header>