<div>
    @await Html.PartialAsync("_header_slide")
</div>
        <aside class="app-sidebar sticky" id="sidebar">
            <!-- start app-sidebar-header -->
            <div class="app-sidebar-header">
                <a class="app-sidebar-dark-logo" href="/">
                    <img src="../images/logo/logo-white.svg" alt="image">
                </a>
                <a class="app-sidebar-light-logo" href="/">
                    <img src="../images/logo/logo-black.svg" alt="image">
                </a>
            </div>
            <!-- end app-sidebar-header -->

            <!-- start app-sidebar-wrapper -->
            <div class="app-sidebar-wrapper custom-scrollbar">
                <nav class="app-sidebar-menu-wrapper nav flex-column sub-open">
                    <div class="sidebar-left" id="sidebar-left"></div>
                    <ul class="app-sidebar-main-menu">
                        <li class="sidebar-menu-category"><span class="category-name">Main</span></li>
                        <li class="slide">
                            <a href="/Dashboard/Dashboard" class="sidebar-menu-item">
                                <div class="side-menu-icon"><i class="">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 1.46512C0 0.655962 0.655962 0 1.46512 0H21C21.8091 0 22.4651 0.655962 22.4651 1.46512V13.186C22.4651 13.9952 21.8091 14.6512 21 14.6512H1.46512C0.655962 14.6512 0 13.9952 0 13.186V1.46512Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M27.3496 1.46512C27.3496 0.655962 28.0056 0 28.8147 0H40.5357C41.3448 0 42.0008 0.655962 42.0008 1.46512V21C42.0008 21.8091 41.3448 22.4651 40.5357 22.4651H28.8147C28.0056 22.4651 27.3496 21.8091 27.3496 21V1.46512Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M27.3496 28.8137C27.3496 28.0046 28.0056 27.3486 28.8147 27.3486H40.5357C41.3448 27.3486 42.0008 28.0046 42.0008 28.8137V40.5347C42.0008 41.3438 41.3448 41.9998 40.5357 41.9998H28.8147C28.0056 41.9998 27.3496 41.3438 27.3496 40.5347V28.8137Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M0 20.9998C0 20.1906 0.655962 19.5347 1.46512 19.5347H21C21.8091 19.5347 22.4651 20.1906 22.4651 20.9998V40.5347C22.4651 41.3438 21.8091 41.9998 21 41.9998H1.46512C0.655962 41.9998 0 41.3438 0 40.5347V20.9998Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i></div>
                                <span class="sidebar-menu-label">Welcome</span>
                            </a>
                        </li>
                        <li class="slide has-sub">
                            <a href="javascript:void(0);" class="sidebar-menu-item">
                                <i class="icon-angle-down side-menu-angle"></i>
                                <div class="side-menu-icon"><i class="">
                                <svg width="42" height="47" viewBox="0 0 42 47" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 44.6923C0 34.1103 9.58614 25.8462 21 25.8462C32.4139 25.8462 42 34.1103 42 44.6923V46.3077H0V44.6923Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M9.69336 11.3077C9.69336 5.06262 14.756 0 21.0011 0C27.2461 0 32.3087 5.06262 32.3087 11.3077C32.3087 17.5527 27.2461 22.6154 21.0011 22.6154C14.756 22.6154 9.69336 17.5527 9.69336 11.3077Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i></div>
                                <span class="sidebar-menu-label">User</span>
                            </a>
                            <ul class="sidebar-menu child1">
                                <li class="slide"><a class="sidebar-menu-item" href="/Dashboard/Profile">Profile</a></li>
                                <li class="slide">
                                    <a class="sidebar-menu-item" href="/Dashboard/ProfileEdit">Edit Profile</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-category"><span class="category-name">Apps</span></li>
                        <li class="slide">
                            <a href="/Generators/Code" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/code-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Code Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Text" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/text-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Text Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Email" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/mail-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Email Generator</span>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-right" id="sidebar-right"></div>
                </nav>
            </div>
            <!-- end app-sidebar-wrapper -->
        </aside>
        <div class="app__offcanvas-overlay"></div>
        <!-- end app-sidebar -->

        <!-- app-header -->
        <div class="app-header-area">
            <header class="app-header" id="header">
                <div class="app-header-inner">
                    <div class="app-header-left">
                        <div class="d-flex align-center gap-15">
                            <div class="app-header-element">
                                <a class="sidebar-toggle-bar" id="sidebarToggle" href="javascript:void(0)">
                                    <div class="sidebar-menu-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                            <div class="app-header-mobile-logo">
                                <a class="bd-header-dark-logo" href="/">
                                    <img src="../images/logo/logo-white.svg" alt="image">
                                </a>
                                <a class="bd-header-light-logo" href="/">
                                    <img src="../images/logo/logo-black.svg" alt="image">
                                </a>
                            </div>
                        </div>
                        <div class="app-header-site-menu">
                            <nav class="main-menu bd-mobile-menu-active">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- page menu -->
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/Information/About">About Us</a></li>
                                            <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                            <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                                        </ul>
                                    </li>

                                    <!-- dashboard menu -->
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Dashboard</a>
                                        <ul class="submenu">
                                            <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                            <li><a href="/Dashboard/Profile">Profile</a></li>
                                            <li><a href="/Generators/Code">Code Generator</a></li>
                                            <li><a href="/Generators/Text">Text Generator</a></li>
                                            <li><a href="/Generators/Email">Email Generator</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="/ContactUs">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div>
                        @await Html.PartialAsync("_UserInfo")
                    </div>
                </div>
            </header>
            <div class="body__overlay"></div>
        </div>