<div class="fix">
    <div class="bd-offcanvas-area">
        <div class="bd-offcanvas-wrapper">
            <div class="bd-offcanvas-content">
                <div class="bd-offcanvas-top d-flex justify-between align-center mb-30">
                    <div class="bd-offcanvas-close">
                        <button class="bd-offcanvas-close-icon animation--flip">
                            <span class="bd-offcanvas-m-lines">
                                <span class="bd-offcanvas-m-line line--1"></span><span class="bd-offcanvas-m-line line--2"></span><span class="bd-offcanvas-m-line line--3"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="bd-mobile-menu">
                    <div class="bd-offcanvas-menu mb-30 active">
                        <nav>
                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bd-offcanvas-overlay"></div>
<div class="bd-offcanvas-overlay-white"></div>