<div>
    @await Html.PartialAsync("_header_slide")
</div>
        <aside class="app-sidebar sticky" id="sidebar">
            <!-- start app-sidebar-header -->
            <div class="app-sidebar-header">
                <a class="app-sidebar-dark-logo" href="/">
                    <img src="../images/logo/logo-white.svg" alt="image">
                </a>
                <a class="app-sidebar-light-logo" href="/">
                    <img src="../images/logo/logo-black.svg" alt="image">
                </a>
            </div>
            <!-- end app-sidebar-header -->

            <!-- start app-sidebar-wrapper -->
            <div class="app-sidebar-wrapper custom-scrollbar">
                <nav class="app-sidebar-menu-wrapper nav flex-column sub-open">
                    <div class="sidebar-left" id="sidebar-left"></div>
                    <ul class="app-sidebar-main-menu">
                        <li class="sidebar-menu-category"><span class="category-name">Main</span></li>
                        <li class="slide">
                            <a href="/Dashboard/Dashboard" class="sidebar-menu-item">
                                <div class="side-menu-icon"><i class="">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 1.46512C0 0.655962 0.655962 0 1.46512 0H21C21.8091 0 22.4651 0.655962 22.4651 1.46512V13.186C22.4651 13.9952 21.8091 14.6512 21 14.6512H1.46512C0.655962 14.6512 0 13.9952 0 13.186V1.46512Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M27.3496 1.46512C27.3496 0.655962 28.0056 0 28.8147 0H40.5357C41.3448 0 42.0008 0.655962 42.0008 1.46512V21C42.0008 21.8091 41.3448 22.4651 40.5357 22.4651H28.8147C28.0056 22.4651 27.3496 21.8091 27.3496 21V1.46512Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M27.3496 28.8137C27.3496 28.0046 28.0056 27.3486 28.8147 27.3486H40.5357C41.3448 27.3486 42.0008 28.0046 42.0008 28.8137V40.5347C42.0008 41.3438 41.3448 41.9998 40.5357 41.9998H28.8147C28.0056 41.9998 27.3496 41.3438 27.3496 40.5347V28.8137Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M0 20.9998C0 20.1906 0.655962 19.5347 1.46512 19.5347H21C21.8091 19.5347 22.4651 20.1906 22.4651 20.9998V40.5347C22.4651 41.3438 21.8091 41.9998 21 41.9998H1.46512C0.655962 41.9998 0 41.3438 0 40.5347V20.9998Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i></div>
                                <span class="sidebar-menu-label">Welcome</span>
                            </a>
                        </li>
                        <li class="slide has-sub">
                            <a href="javascript:void(0);" class="sidebar-menu-item">
                                <i class="icon-angle-down side-menu-angle"></i>
                                <div class="side-menu-icon"><i class="">
                                <svg width="42" height="47" viewBox="0 0 42 47" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 44.6923C0 34.1103 9.58614 25.8462 21 25.8462C32.4139 25.8462 42 34.1103 42 44.6923V46.3077H0V44.6923Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M9.69336 11.3077C9.69336 5.06262 14.756 0 21.0011 0C27.2461 0 32.3087 5.06262 32.3087 11.3077C32.3087 17.5527 27.2461 22.6154 21.0011 22.6154C14.756 22.6154 9.69336 17.5527 9.69336 11.3077Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i></div>
                                <span class="sidebar-menu-label">User</span>
                            </a>
                            <ul class="sidebar-menu child1">
                                <li class="slide"><a class="sidebar-menu-item" href="/Dashboard/Profile">Profile</a></li>
                                <li class="slide">
                                    <a class="sidebar-menu-item" href="/Dashboard/ProfileEdit">Edit Profile</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-category"><span class="category-name">Apps</span></li>
                        <li class="slide">
                            <a href="/Generators/Image" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/image-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Image Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Video" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/video-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Video Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Code" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/code-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Code Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Text" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/text-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Text Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Email" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/mail-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Email Generator</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Generators/Website" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <div class="img-icon"><img src="../images/app-service/website-generator-icon.svg" alt="image"></div>
                                </div>
                                <span class="sidebar-menu-label">Website Generator</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-category"><span class="category-name">Pages</span></li>
                        <li class="slide">
                            <a href="/Dashboard/Faq" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <i class="">
                                <svg width="35" height="42" viewBox="0 0 35 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.72726 34.3636C4.67291 34.3636 3.81817 35.2183 3.81817 36.2727C3.81817 37.3271 4.67291 38.1818 5.72726 38.1818H32.4544C33.5088 38.1818 34.3635 39.0364 34.3635 40.0908C34.3635 41.1452 33.5088 41.9999 32.4544 41.9999H5.72726C2.56419 41.9999 0 39.4358 0 36.2727C0 33.1095 2.56419 30.5454 5.72726 30.5454H32.4544C33.5088 30.5454 34.3635 31.4001 34.3635 32.4545C34.3635 33.5089 33.5088 34.3636 32.4544 34.3636H5.72726Z"
                                        fill="#7A44FF" />
                                    <path
                                        d="M33.0177 31.2967C33.6531 32.1296 33.498 33.3177 32.6735 33.9603L32.6552 33.9755C32.6311 33.996 32.5874 34.0345 32.5301 34.0901C32.4139 34.2025 32.2526 34.3751 32.0916 34.5973C31.7629 35.0515 31.4998 35.6206 31.4998 36.2727C31.4998 36.9249 31.7629 37.494 32.0916 37.948C32.2526 38.1704 32.4139 38.3427 32.5301 38.4554C32.5874 38.5109 32.6311 38.5495 32.6552 38.5699L32.6735 38.5852C33.498 39.2276 33.6531 40.4158 33.0177 41.2488C32.3782 42.087 31.1802 42.2482 30.3419 41.6088C30.3146 41.5869 30.2205 41.5116 30.1803 41.4775C30.0999 41.4089 29.9947 41.3154 29.8729 41.1974C29.6312 40.9632 29.3152 40.6239 28.9989 40.1869C28.3731 39.3225 27.6816 37.9825 27.6816 36.2727C27.6816 34.563 28.3731 33.223 28.9989 32.3585C29.3152 31.9214 29.6312 31.5823 29.8729 31.3481C29.9947 31.2301 30.0999 31.1363 30.1803 31.068C30.2205 31.0336 30.3146 30.9586 30.3419 30.9366C31.1802 30.2973 32.3782 30.4584 33.0177 31.2967Z"
                                        fill="#7A44FF" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.72726 0C2.56419 0 0 2.56419 0 5.72726V36.2726C0 37.327 0.854736 38.1817 1.90909 38.1817C2.96343 38.1817 3.81817 37.327 3.81817 36.2726C3.81817 35.2182 4.67291 34.3635 5.72726 34.3635H32.4544C33.5088 34.3635 34.3635 33.5088 34.3635 32.4544V1.90909C34.3635 0.854736 33.5088 0 32.4544 0H5.72726ZM9.5473 9.54543C8.49293 9.54543 7.63821 10.4002 7.63821 11.4545C7.63821 12.5089 8.49293 13.3636 9.5473 13.3636H24.82C25.8744 13.3636 26.7291 12.5089 26.7291 11.4545C26.7291 10.4002 25.8744 9.54543 24.82 9.54543H9.5473ZM9.54543 17.1818C8.49108 17.1818 7.63634 18.0365 7.63634 19.0909C7.63634 20.1452 8.49108 20.9999 9.54543 20.9999H17.1818C18.2362 20.9999 19.0909 20.1452 19.0909 19.0909C19.0909 18.0365 18.2362 17.1818 17.1818 17.1818H9.54543Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i>
                                </div>
                                <span class="sidebar-menu-label">Faq</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Dashboard/TermsConditions" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <i class="">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.9478 1.68045C19.1846 -0.560149 22.8154 -0.56015 25.0523 1.68045L27.024 3.65541C27.5491 4.18129 28.2617 4.47652 29.0048 4.47591L31.7956 4.47363C34.9618 4.47105 37.5291 7.03831 37.5264 10.2044L37.5242 12.9951C37.5234 13.7382 37.8188 14.451 38.3447 14.976L40.3197 16.9478C42.5601 19.1846 42.5601 22.8154 40.3197 25.0523L38.3447 27.024C37.8188 27.5491 37.5234 28.2617 37.5242 29.0048L37.5264 31.7956C37.5291 34.9618 34.9618 37.5291 31.7956 37.5264L29.0048 37.5242C28.2617 37.5234 27.5491 37.8188 27.024 38.3447L25.0523 40.3197C22.8154 42.5601 19.1846 42.5601 16.9478 40.3197L14.976 38.3447C14.451 37.8188 13.7382 37.5234 12.9951 37.5242L10.2044 37.5264C7.03831 37.5291 4.47105 34.9618 4.47363 31.7956L4.47591 29.0048C4.47652 28.2617 4.18129 27.5491 3.65541 27.024L1.68045 25.0523C-0.560149 22.8154 -0.56015 19.1846 1.68045 16.9478L3.65541 14.976C4.18129 14.451 4.47652 13.7382 4.47591 12.9951L4.47363 10.2044C4.47105 7.03831 7.03831 4.47105 10.2044 4.47363L12.9951 4.47591C13.7382 4.47652 14.451 4.18129 14.976 3.65543L16.9478 1.68045ZM21 13.1861C19.9211 13.1861 19.0465 14.0607 19.0465 15.1396C19.0465 16.2184 18.172 17.093 17.093 17.093C16.0141 17.093 15.1396 16.2184 15.1396 15.1396C15.1396 11.9029 17.7633 9.27908 21 9.27908C24.2368 9.27908 26.8605 11.9029 26.8605 15.1396C26.8605 16.3033 26.5192 17.3933 25.9308 18.3079C25.5776 18.8567 25.1682 19.3755 24.8037 19.8287L24.604 20.076C24.3022 20.4495 24.0342 20.7814 23.7857 21.1229C23.1682 21.9715 22.9535 22.5179 22.9535 22.9535V23.9303C22.9535 25.0092 22.0789 25.8838 21 25.8838C19.9211 25.8838 19.0465 25.0092 19.0465 23.9303V22.9535C19.0465 21.2313 19.892 19.8338 20.6265 18.8242C20.9389 18.395 21.2815 17.9709 21.5847 17.5963L21.7597 17.3794C22.1211 16.9302 22.4145 16.5523 22.6453 16.1938C22.8402 15.8907 22.9535 15.5314 22.9535 15.1396C22.9535 14.0607 22.0789 13.1861 21 13.1861ZM20.9848 28.814C19.9059 28.814 19.0313 29.6886 19.0313 30.7675C19.0313 31.8464 19.9059 32.721 20.9848 32.721H21.0024C22.0813 32.721 22.9559 31.8464 22.9559 30.7675C22.9559 29.6886 22.0813 28.814 21.0024 28.814H20.9848Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i>
                                </div>
                                <span class="sidebar-menu-label">Terms & Conditions</span>
                            </a>
                        </li>
                        <li class="slide">
                            <a href="/Dashboard/PrivacyPolicy" class="sidebar-menu-item">
                                <div class="side-menu-icon">
                                    <i class="">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.9478 1.68045C19.1846 -0.560149 22.8154 -0.56015 25.0523 1.68045L27.024 3.65541C27.5491 4.18129 28.2617 4.47652 29.0048 4.47591L31.7956 4.47363C34.9618 4.47105 37.5291 7.03831 37.5264 10.2044L37.5242 12.9951C37.5234 13.7382 37.8188 14.451 38.3447 14.976L40.3197 16.9478C42.5601 19.1846 42.5601 22.8154 40.3197 25.0523L38.3447 27.024C37.8188 27.5491 37.5234 28.2617 37.5242 29.0048L37.5264 31.7956C37.5291 34.9618 34.9618 37.5291 31.7956 37.5264L29.0048 37.5242C28.2617 37.5234 27.5491 37.8188 27.024 38.3447L25.0523 40.3197C22.8154 42.5601 19.1846 42.5601 16.9478 40.3197L14.976 38.3447C14.451 37.8188 13.7382 37.5234 12.9951 37.5242L10.2044 37.5264C7.03831 37.5291 4.47105 34.9618 4.47363 31.7956L4.47591 29.0048C4.47652 28.2617 4.18129 27.5491 3.65541 27.024L1.68045 25.0523C-0.560149 22.8154 -0.56015 19.1846 1.68045 16.9478L3.65541 14.976C4.18129 14.451 4.47652 13.7382 4.47591 12.9951L4.47363 10.2044C4.47105 7.03831 7.03831 4.47105 10.2044 4.47363L12.9951 4.47591C13.7382 4.47652 14.451 4.18129 14.976 3.65543L16.9478 1.68045ZM21 13.1861C19.9211 13.1861 19.0465 14.0607 19.0465 15.1396C19.0465 16.2184 18.172 17.093 17.093 17.093C16.0141 17.093 15.1396 16.2184 15.1396 15.1396C15.1396 11.9029 17.7633 9.27908 21 9.27908C24.2368 9.27908 26.8605 11.9029 26.8605 15.1396C26.8605 16.3033 26.5192 17.3933 25.9308 18.3079C25.5776 18.8567 25.1682 19.3755 24.8037 19.8287L24.604 20.076C24.3022 20.4495 24.0342 20.7814 23.7857 21.1229C23.1682 21.9715 22.9535 22.5179 22.9535 22.9535V23.9303C22.9535 25.0092 22.0789 25.8838 21 25.8838C19.9211 25.8838 19.0465 25.0092 19.0465 23.9303V22.9535C19.0465 21.2313 19.892 19.8338 20.6265 18.8242C20.9389 18.395 21.2815 17.9709 21.5847 17.5963L21.7597 17.3794C22.1211 16.9302 22.4145 16.5523 22.6453 16.1938C22.8402 15.8907 22.9535 15.5314 22.9535 15.1396C22.9535 14.0607 22.0789 13.1861 21 13.1861ZM20.9848 28.814C19.9059 28.814 19.0313 29.6886 19.0313 30.7675C19.0313 31.8464 19.9059 32.721 20.9848 32.721H21.0024C22.0813 32.721 22.9559 31.8464 22.9559 30.7675C22.9559 29.6886 22.0813 28.814 21.0024 28.814H20.9848Z"
                                        fill="#7A44FF" />
                                </svg>
                            </i>
                                </div>
                                <span class="sidebar-menu-label">Privacy & Policy</span>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-right" id="sidebar-right"></div>
                </nav>
            </div>
            <!-- end app-sidebar-wrapper -->
        </aside>
        <div class="app__offcanvas-overlay"></div>
        <!-- end app-sidebar -->

        <!-- app-header -->
        <div class="app-header-area">
            <header class="app-header" id="header">
                <div class="app-header-inner">
                    <div class="app-header-left">
                        <div class="d-flex align-center gap-15">
                            <div class="app-header-element">
                                <a class="sidebar-toggle-bar" id="sidebarToggle" href="javascript:void(0)">
                                    <div class="sidebar-menu-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                            <div class="app-header-mobile-logo">
                                <a class="bd-header-dark-logo" href="/">
                                    <img src="../images/logo/logo-white.svg" alt="image">
                                </a>
                                <a class="bd-header-light-logo" href="/">
                                    <img src="../images/logo/logo-black.svg" alt="image">
                                </a>
                            </div>
                        </div>
                        <div class="app-header-site-menu">
                            <nav class="main-menu bd-mobile-menu-active">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- page menu -->
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/Information/StyleGuide">Style Guide</a></li>
                                            <li><a href="/Information/About">About Us</a></li>
                                            <li><a href="/Information/Team">Team</a></li>
                                            <li><a href="/Information/Pricing">Pricing Plans</a></li>
                                            <li><a href="/Information/PricingDetails">Pricing Details</a></li>
                                            <li><a href="/Auth/SignIn">Sign In</a></li>
                                            <li><a href="/Auth/SignUp">Sign Up</a></li>
                                            <li><a href="/Information/ComingSoon">Coming Soon</a></li>
                                            <li><a href="/Information/Maintenance">Maintenance</a></li>
                                            <li><a href="/Information/Error">404</a></li>
                                        </ul>
                                    </li>

                                    <!-- dashboard menu -->
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Dashboard</a>
                                        <ul class="submenu">
                                            <li><a href="/Dashboard/Dashboard">Welcome</a></li>
                                            <li><a href="/Dashboard/Profile">Profile</a></li>
                                            <li><a href="/Generators/Image">Image Generator</a></li>
                                            <li><a href="/Generators/Video">Video Generator</a></li>
                                            <li><a href="/Generators/Code">Code Generator</a></li>
                                            <li><a href="/Generators/Text">Text Generator</a></li>
                                            <li><a href="/Generators/Email">Email Generator</a></li>
                                            <li><a href="/Generators/Website">Website Generator</a></li>
                                            <li><a href="/Dashboard/Faq">FAq</a></li>
                                        </ul>
                                    </li>

                                    <!-- blog menu -->
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0)">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="/Blog">Blog</a></li>
                                            <li><a href="/Blog/BlogDetails">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/ContactUs">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div>
                        @await Html.PartialAsync("_UserInfo")
                    </div>
                </div>
            </header>
            <div class="body__overlay"></div>
        </div>