<div class="bd-header-right">
    <div class="bd-header-user">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="author">
                    <div class="author-thumb">
                        <img src="../images/avatar/userIcon.png" alt="user">
                    </div>
                </div>
            </a>

            <ul class="dropdown-menu">
                <li class="bd-user-info-list"><a href="/Dashboard/Dashboard"><i class="ri-home-4-line"></i>Welcome</a>
                </li>
                <li class="bd-user-info-list"><a href="/Dashboard/Profile"><i class="ri-user-line"></i>Profile</a></li>
                <li class="bd-user-info-list"><a href="/" id="logout"><i
                            class="ri-logout-circle-line"></i>Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="bd-header-hamburger">
        <div class="sidebar-toggle">
            <a class="bar-icon" href="javascript:void(0)">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>